{"openapi":"3.0.3","info":{"title":"Census REST API","version":"10.0"},"servers":[{"url":"https://census.daybreakgames.com/"}],"components":{"schemas":{"CensusError":{"oneOf":[{"type":"object","properties":{"errorCode":{"type":"string"},"errorMessage":{"type":"string"}}},{"type":"object","properties":{"error":{"type":"string"}}}]},"Count":{"type":"object","properties":{"count":{"type":"integer"}}},"Ability":{"type":"object","properties":{"ability_id":{"type":"string"},"ability_type_id":{"type":"string"},"resource_type_id":{"type":"string"},"resource_first_cost":{"type":"string"},"resource_cost_per_msec":{"type":"string"},"flag_toggle":{"type":"string"}}},"AbilityType":{"type":"object","properties":{"ability_type_id":{"type":"string"}}},"Achievement":{"type":"object","properties":{"achievement_id":{"type":"string"},"item_id":{"type":"string"},"objective_group_id":{"type":"string"},"reward_id":{"type":"string"},"repeatable":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"ArmorFacing":{"type":"object","properties":{"armor_facing_id":{"type":"string"},"description":{"type":"string"}}},"ArmorInfo":{"type":"object","properties":{"armor_info_id":{"type":"string"},"armor_facing_id":{"type":"string"},"armor_percent":{"type":"string"},"description":{"type":"string"}}},"Character":{"type":"object","properties":{"character_id":{"type":"string"},"name":{"type":"object","properties":{"first":{"type":"string"},"first_lower":{"type":"string"}}},"faction_id":{"type":"string"},"head_id":{"type":"string"},"title_id":{"type":"string"},"times":{"type":"object","properties":{"creation":{"type":"string"},"creation_date":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"},"last_login":{"type":"string"},"last_login_date":{"type":"string"},"login_count":{"type":"string"},"minutes_played":{"type":"string"}}},"certs":{"type":"object","properties":{"earned_points":{"type":"string"},"gifted_points":{"type":"string"},"spent_points":{"type":"string"},"available_points":{"type":"string"},"percent_to_next":{"type":"string"}}},"battle_rank":{"type":"object","properties":{"percent_to_next":{"type":"string"},"value":{"type":"string"}}},"profile_id":{"type":"string"},"daily_ribbon":{"type":"object","properties":{"count":{"type":"string"},"time":{"type":"string"},"date":{"type":"string"}}},"prestige_level":{"type":"string"}}},"CharacterName":{"type":"object","properties":{"character_id":{"type":"string"},"name":{"type":"object","properties":{"first":{"type":"string"},"first_lower":{"type":"string"}}}}},"CharactersAchievement":{"type":"object","properties":{"character_id":{"type":"string"},"achievement_id":{"type":"string"},"earned_count":{"type":"string"},"start":{"type":"string"},"start_date":{"type":"string"},"finish":{"type":"string"},"finish_date":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersCurrency":{"type":"object","properties":{"character_id":{"type":"string"},"currency_id":{"type":"string"},"currency_name":{"type":"string"},"quantity":{"type":"string"},"prestige_currency":{"type":"string"}}},"CharactersDirective":{"type":"object","properties":{"character_id":{"type":"string"},"directive_tree_id":{"type":"string"},"directive_id":{"type":"string"},"completion_time":{"type":"string"},"completion_time_date":{"type":"string"}}},"CharactersDirectiveObjective":{"type":"object","properties":{"character_id":{"type":"string"},"directive_id":{"type":"string"},"objective_id":{"type":"string"},"objective_group_id":{"type":"string"},"status":{"type":"string"},"state_data":{"type":"string"}}},"CharactersDirectiveTier":{"type":"object","properties":{"character_id":{"type":"string"},"directive_tree_id":{"type":"string"},"directive_tier_id":{"type":"string"},"completion_time":{"type":"string"},"completion_time_date":{"type":"string"}}},"CharactersDirectiveTree":{"type":"object","properties":{"character_id":{"type":"string"},"directive_tree_id":{"type":"string"},"current_directive_tier_id":{"type":"string"},"current_level":{"type":"string"},"completion_time":{"type":"string"},"completion_time_date":{"type":"string"}}},"CharactersEvent":{"type":"object","properties":{}},"CharactersEventGrouped":{"type":"object","properties":{}},"CharactersFriend":{"type":"object","properties":{}},"CharactersItem":{"type":"object","properties":{}},"CharactersLeaderboard":{"type":"object","properties":{}},"CharactersOnlineStatus":{"type":"object","properties":{}},"CharactersSkill":{"type":"object","properties":{"character_id":{"type":"string"},"skill_id":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersStat":{"type":"object","properties":{"character_id":{"type":"string"},"stat_name":{"type":"string"},"profile_id":{"type":"string"},"value_forever":{"type":"string"},"value_monthly":{"type":"string"},"value_weekly":{"type":"string"},"value_daily":{"type":"string"},"value_one_life_max":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersStatByFaction":{"type":"object","properties":{"character_id":{"type":"string"},"stat_name":{"type":"string"},"profile_id":{"type":"string"},"value_forever_vs":{"type":"string"},"value_forever_nc":{"type":"string"},"value_forever_tr":{"type":"string"},"value_monthly_vs":{"type":"string"},"value_monthly_nc":{"type":"string"},"value_monthly_tr":{"type":"string"},"value_weekly_vs":{"type":"string"},"value_weekly_nc":{"type":"string"},"value_weekly_tr":{"type":"string"},"value_daily_vs":{"type":"string"},"value_daily_nc":{"type":"string"},"value_daily_tr":{"type":"string"},"value_one_life_max_vs":{"type":"string"},"value_one_life_max_nc":{"type":"string"},"value_one_life_max_tr":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersStatHistory":{"type":"object","properties":{"character_id":{"type":"string"},"stat_name":{"type":"string"},"all_time":{"type":"string"},"one_life_max":{"type":"string"},"day":{"type":"object","properties":{"d01":{"type":"string"},"d02":{"type":"string"},"d03":{"type":"string"},"d04":{"type":"string"},"d05":{"type":"string"},"d06":{"type":"string"},"d07":{"type":"string"},"d08":{"type":"string"},"d09":{"type":"string"},"d10":{"type":"string"},"d11":{"type":"string"},"d12":{"type":"string"},"d13":{"type":"string"},"d14":{"type":"string"},"d15":{"type":"string"},"d16":{"type":"string"},"d17":{"type":"string"},"d18":{"type":"string"},"d19":{"type":"string"},"d20":{"type":"string"},"d21":{"type":"string"},"d22":{"type":"string"},"d23":{"type":"string"},"d24":{"type":"string"},"d25":{"type":"string"},"d26":{"type":"string"},"d27":{"type":"string"},"d28":{"type":"string"},"d29":{"type":"string"},"d30":{"type":"string"},"d31":{"type":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string"},"m02":{"type":"string"},"m03":{"type":"string"},"m04":{"type":"string"},"m05":{"type":"string"},"m06":{"type":"string"},"m07":{"type":"string"},"m08":{"type":"string"},"m09":{"type":"string"},"m10":{"type":"string"},"m11":{"type":"string"},"m12":{"type":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string"},"w02":{"type":"string"},"w03":{"type":"string"},"w04":{"type":"string"},"w05":{"type":"string"},"w06":{"type":"string"},"w07":{"type":"string"},"w08":{"type":"string"},"w09":{"type":"string"},"w10":{"type":"string"},"w11":{"type":"string"},"w12":{"type":"string"},"w13":{"type":"string"}}},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersWeaponStat":{"type":"object","properties":{"character_id":{"type":"string"},"stat_name":{"type":"string"},"item_id":{"type":"string"},"vehicle_id":{"type":"string"},"value":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersWeaponStatByFaction":{"type":"object","properties":{"character_id":{"type":"string"},"stat_name":{"type":"string"},"item_id":{"type":"string"},"vehicle_id":{"type":"string"},"value_vs":{"type":"string"},"value_nc":{"type":"string"},"value_tr":{"type":"string"},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"CharactersWorld":{"type":"object","properties":{"character_id":{"type":"string"},"world_id":{"type":"string"}}},"Currency":{"type":"object","properties":{"currency_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"icon_id":{"type":"string"},"inventory_cap":{"type":"string"}}},"Directive":{"type":"object","properties":{"directive_id":{"type":"string"},"directive_tree_id":{"type":"string"},"directive_tier_id":{"type":"string"},"objective_set_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"DirectiveTier":{"type":"object","properties":{"directive_tree_id":{"type":"string"},"directive_tier_id":{"type":"string"},"directive_points":{"type":"string"},"completion_count":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"DirectiveTree":{"type":"object","properties":{"directive_tree_id":{"type":"string"},"directive_tree_category_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"DirectiveTreeCategory":{"type":"object","properties":{"directive_tree_category_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}}}},"Effect":{"type":"object","properties":{"effect_id":{"type":"string"},"effect_type_id":{"type":"string"},"ability_id":{"type":"string"},"target_type_id":{"type":"string"},"resist_type_id":{"type":"string"},"is_drain":{"type":"string"},"param1":{"type":"string"},"param2":{"type":"string"},"param5":{"type":"string"},"param6":{"type":"string"},"param7":{"type":"string"},"param8":{"type":"string"},"param9":{"type":"string"}}},"EffectType":{"type":"object","properties":{"effect_type_id":{"type":"string"},"description":{"type":"string"},"param1":{"type":"string"},"param3":{"type":"string"}}},"EmpireScores":{"type":"object","properties":{"tracker_name":{"type":"string"},"tracker_description":{"type":"string"},"start_date":{"type":"string"},"start_time":{"type":"string"},"end_date":{"type":"string"},"end_time":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}}}},"Event":{"type":"object","properties":{"character_id":{"type":"string"},"item_id":{"type":"string"},"item_count":{"type":"string"},"timestamp":{"type":"string"},"zone_id":{"type":"string"},"world_id":{"type":"string"},"event_type":{"type":"string"},"context":{"type":"string"},"table_type":{"type":"string"}}},"Experience":{"type":"object","properties":{"experience_id":{"type":"string"},"description":{"type":"string"},"xp":{"type":"string"},"experience_award_type_id":{"type":"string"}}},"ExperienceAwardType":{"type":"object","properties":{"experience_award_type_id":{"type":"string"},"name":{"type":"string"}}},"ExperienceRank":{"type":"object","properties":{"rank":{"type":"string"},"xp_max":{"type":"string"},"vs":{"type":"object","properties":{"title":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"}}},"vs_image_path":{"type":"string"},"nc":{"type":"object","properties":{"title":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"}}},"nc_image_path":{"type":"string"},"tr":{"type":"object","properties":{"title":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"}}},"tr_image_path":{"type":"string"}}},"FacilityLink":{"type":"object","properties":{"zone_id":{"type":"string"},"facility_id_a":{"type":"string"},"facility_id_b":{"type":"string"},"description":{"type":"string"}}},"FacilityType":{"type":"object","properties":{"facility_type_id":{"type":"string"},"description":{"type":"string"}}},"Faction":{"type":"object","properties":{"faction_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"code_tag":{"type":"string"},"user_selectable":{"type":"string"}}},"FireGroup":{"type":"object","properties":{"fire_group_id":{"type":"string"},"can_chamber_ironsights":{"type":"string"}}},"FireGroupToFireMode":{"type":"object","properties":{"fire_group_id":{"type":"string"},"fire_mode_id":{"type":"string"},"fire_mode_index":{"type":"string"}}},"FireMode":{"type":"object","properties":{"fire_mode_id":{"type":"string"},"item_id":{"type":"string"},"type":{"type":"string"},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}},"player_state_group_id":{"type":"string"},"cof_recoil":{"type":"string"},"reload_time_ms":{"type":"string"},"pellets_per_shot":{"type":"string"},"pellet_spread":{"type":"string"},"default_zoom":{"type":"string"},"speed":{"type":"string"},"projectile_description":{"type":"string"},"damage_type":{"type":"string"},"damage":{"type":"string"},"damage_target_type":{"type":"string"},"damage_resist_type":{"type":"string"}}},"FireMode2":{"type":"object","properties":{"fire_mode_id":{"type":"string"},"fire_mode_type_id":{"type":"string"},"automatic":{"type":"string"},"grief_immune":{"type":"string"},"iron_sights":{"type":"string"},"laser_guided":{"type":"string"},"move_modifier":{"type":"string"},"sprint_fire":{"type":"string"},"turn_modifier":{"type":"string"},"use_in_water":{"type":"string"},"zoom_default":{"type":"string"},"cof_pellet_spread":{"type":"string"},"cof_range":{"type":"string"},"cof_recoil":{"type":"string"},"cof_scalar":{"type":"string"},"cof_scalar_moving":{"type":"string"},"player_state_group_id":{"type":"string"},"damage_direct_effect_id":{"type":"string"},"damage_head_multiplier":{"type":"string"},"fire_ammo_per_shot":{"type":"string"},"fire_auto_fire_ms":{"type":"string"},"fire_burst_count":{"type":"string"},"fire_charge_up_ms":{"type":"string"},"fire_delay_ms":{"type":"string"},"fire_detect_range":{"type":"string"},"fire_duration_ms":{"type":"string"},"fire_refire_ms":{"type":"string"},"fire_pellets_per_shot":{"type":"string"},"lockon_maintain":{"type":"string"},"lockon_required":{"type":"string"},"recoil_first_shot_modifier":{"type":"string"},"reload_block_auto":{"type":"string"},"reload_continuous":{"type":"string"},"reload_time_ms":{"type":"string"},"sway_can_steady":{"type":"string"},"armor_penetration":{"type":"string"},"max_damage":{"type":"string"},"min_damage_range":{"type":"string"},"shield_bypass_pct":{"type":"string"},"ability_block_delay_ms":{"type":"string"},"sprint_block_delay_ms":{"type":"string"},"charge_minimum_ms":{"type":"string"},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"}}}}},"FireModeToProjectile":{"type":"object","properties":{"fire_mode_id":{"type":"string"},"projectile_id":{"type":"string"}}},"FireModeType":{"type":"object","properties":{"fire_mode_type_id":{"type":"string"},"description":{"type":"string"}}},"Image":{"type":"object","properties":{"image_id":{"type":"string"},"path":{"type":"string"}}},"ImageSet":{"type":"object","properties":{"image_set_id":{"type":"string"},"image_id":{"type":"string"},"description":{"type":"string"},"type_id":{"type":"string"},"type_description":{"type":"string"},"image_path":{"type":"string"}}},"ImageSetDefault":{"type":"object","properties":{"image_set_id":{"type":"string"},"image_id":{"type":"string"},"description":{"type":"string"},"type_id":{"type":"string"},"type_description":{"type":"string"},"image_path":{"type":"string"}}},"Item":{"type":"object","properties":{"item_id":{"type":"string"},"item_type_id":{"type":"string"},"item_category_id":{"type":"string"},"is_vehicle_weapon":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"faction_id":{"type":"string"},"max_stack_size":{"type":"string"},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"},"is_default_attachment":{"type":"string"}}},"ItemAttachment":{"type":"object","properties":{"item_id":{"type":"string"},"attachment_item_id":{"type":"string"}}},"ItemCategory":{"type":"object","properties":{"item_category_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}}}},"ItemProfile":{"type":"object","properties":{"item_id":{"type":"string"},"profile_id":{"type":"string"}}},"ItemToWeapon":{"type":"object","properties":{"item_id":{"type":"string"},"weapon_id":{"type":"string"}}},"ItemType":{"type":"object","properties":{"item_type_id":{"type":"string"},"name":{"type":"string"},"code":{"type":"string"}}},"Leaderboard":{"type":"object","properties":{}},"Loadout":{"type":"object","properties":{"loadout_id":{"type":"string"},"profile_id":{"type":"string"},"faction_id":{"type":"string"},"code_name":{"type":"string"}}},"Map":{"type":"object","properties":{}},"MapHex":{"type":"object","properties":{"zone_id":{"type":"string"},"map_region_id":{"type":"string"},"x":{"type":"string"},"y":{"type":"string"},"hex_type":{"type":"string"},"type_name":{"type":"string"}}},"MapRegion":{"type":"object","properties":{"map_region_id":{"type":"string"},"zone_id":{"type":"string"},"facility_id":{"type":"string"},"facility_name":{"type":"string"},"facility_type_id":{"type":"string"},"facility_type":{"type":"string"},"location_x":{"type":"string"},"location_y":{"type":"string"},"location_z":{"type":"string"},"reward_amount":{"type":"string"},"reward_currency_id":{"type":"string"},"capture_reward":{"type":"object","properties":{"description":{"type":"string"},"amount":{"type":"string"}}},"tick_reward":{"type":"object","properties":{"description":{"type":"string"},"amount":{"type":"string"}}}}},"MarketingBundle":{"type":"object","properties":{"marketing_bundle_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_id":{"type":"string"},"station_cash_price":{"type":"string"},"release_time":{"type":"string"}}},"MarketingBundleItem":{"type":"object","properties":{"marketing_bundle_id":{"type":"string"},"item_id":{"type":"string"},"quantity":{"type":"string"},"release_time":{"type":"string"}}},"MarketingBundleWith1Item":{"type":"object","properties":{"marketing_bundle_id":{"type":"string"},"item_id":{"type":"string"},"item_quantity":{"type":"string"},"station_cash_price":{"type":"string"},"release_time":{"type":"string"}}},"MetagameEvent":{"type":"object","properties":{"metagame_event_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"type":{"type":"string"},"experience_bonus":{"type":"string"},"duration_minutes":{"type":"string"}}},"MetagameEventState":{"type":"object","properties":{"metagame_event_state_id":{"type":"string"},"name":{"type":"string"}}},"Objective":{"type":"object","properties":{"objective_id":{"type":"string"},"objective_type_id":{"type":"string"},"objective_group_id":{"type":"string"},"param1":{"type":"string"},"param4":{"type":"string"},"param5":{"type":"string"},"param8":{"type":"string"}}},"ObjectiveSetToObjective":{"type":"object","properties":{"objective_set_id":{"type":"string"},"objective_group_id":{"type":"string"}}},"ObjectiveType":{"type":"object","properties":{"objective_type_id":{"type":"string"},"description":{"type":"string"},"param1":{"type":"string"},"param2":{"type":"string"},"param3":{"type":"string"},"param4":{"type":"string"}}},"Outfit":{"type":"object","properties":{"outfit_id":{"type":"string"},"name":{"type":"string"},"name_lower":{"type":"string"},"alias":{"type":"string"},"alias_lower":{"type":"string"},"time_created":{"type":"string"},"time_created_date":{"type":"string"},"leader_character_id":{"type":"string"},"member_count":{"type":"string"}}},"OutfitMember":{"type":"object","properties":{"outfit_id":{"type":"string"},"character_id":{"type":"string"},"member_since":{"type":"string"},"member_since_date":{"type":"string"},"rank":{"type":"string"},"rank_ordinal":{"type":"string"}}},"OutfitMemberExtended":{"type":"object","properties":{"character_id":{"type":"string"},"member_since":{"type":"string"},"member_since_date":{"type":"string"},"member_rank":{"type":"string"},"member_rank_ordinal":{"type":"string"},"outfit_id":{"type":"string"},"name":{"type":"string"},"name_lower":{"type":"string"},"alias":{"type":"string"},"alias_lower":{"type":"string"},"time_created":{"type":"string"},"time_created_date":{"type":"string"},"leader_character_id":{"type":"string"},"member_count":{"type":"string"}}},"OutfitRank":{"type":"object","properties":{"outfit_id":{"type":"string"},"ordinal":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"PlayerState":{"type":"object","properties":{"player_state_id":{"type":"string"},"description":{"type":"string"}}},"PlayerStateGroup":{"type":"object","properties":{"player_state_group_id":{"type":"string"},"player_state":{"type":"string"},"min_cone_of_fire":{"type":"string"}}},"PlayerStateGroup2":{"type":"object","properties":{"player_state_group_id":{"type":"string"},"player_state_id":{"type":"string"},"can_iron_sight":{"type":"string"},"cof_grow_rate":{"type":"string"},"cof_max":{"type":"string"},"cof_min":{"type":"string"},"cof_recovery_delay_ms":{"type":"string"},"cof_recovery_rate":{"type":"string"},"cof_shots_before_penalty":{"type":"string"},"cof_recovery_delay_threshold":{"type":"string"},"cof_turn_penalty":{"type":"string"}}},"Profile":{"type":"object","properties":{"profile_id":{"type":"string"},"profile_type_id":{"type":"string"},"profile_type_description":{"type":"string"},"faction_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"},"movement_speed":{"type":"string"},"backpedal_speed_modifier":{"type":"string"},"sprint_speed_modifier":{"type":"string"},"strafe_speed_modifier":{"type":"string"}}},"Profile2":{"type":"object","properties":{"profile_id":{"type":"string"},"description":{"type":"string"}}},"ProfileArmorMap":{"type":"object","properties":{"profile_id":{"type":"string"},"armor_info_id":{"type":"string"},"rank":{"type":"string"}}},"ProfileResistMap":{"type":"object","properties":{"profile_id":{"type":"string"},"resist_info_id":{"type":"string"},"rank":{"type":"string"}}},"Projectile":{"type":"object","properties":{"projectile_id":{"type":"string"},"projectile_flight_type_id":{"type":"string"},"speed":{"type":"string"},"lifespan":{"type":"string"},"drag":{"type":"string"},"gravity":{"type":"string"},"detonate_on_contact":{"type":"string"},"sticky":{"type":"string"},"sticks_to_players":{"type":"string"},"lockon_seek_in_flight":{"type":"string"},"projectile_radius":{"type":"string"}}},"ProjectileFlightType":{"type":"object","properties":{"projectile_flight_type_id":{"type":"string"},"description":{"type":"string"}}},"Region":{"type":"object","properties":{"region_id":{"type":"string"},"zone_id":{"type":"string"},"initial_faction_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}}}},"ResistInfo":{"type":"object","properties":{"resist_info_id":{"type":"string"},"resist_type_id":{"type":"string"},"resist_percent":{"type":"string"},"multiplier_when_headshot":{"type":"string"},"description":{"type":"string"}}},"ResistType":{"type":"object","properties":{"resist_type_id":{"type":"string"},"description":{"type":"string"}}},"ResourceType":{"type":"object","properties":{"resource_type_id":{"type":"string"},"description":{"type":"string"}}},"Reward":{"type":"object","properties":{"reward_id":{"type":"string"},"reward_type_id":{"type":"string"},"count_min":{"type":"string"},"count_max":{"type":"string"},"param1":{"type":"string"}}},"RewardGroupToReward":{"type":"object","properties":{"reward_group_id":{"type":"string"},"reward_id":{"type":"string"}}},"RewardSetToRewardGroup":{"type":"object","properties":{"reward_set_id":{"type":"string"},"reward_group_id":{"type":"string"}}},"RewardType":{"type":"object","properties":{"reward_type_id":{"type":"string"},"description":{"type":"string"},"count_min":{"type":"string"},"param1":{"type":"string"},"param2":{"type":"string"},"param3":{"type":"string"},"param4":{"type":"string"}}},"SingleCharacterById":{"type":"object","properties":{}},"Skill":{"type":"object","properties":{"skill_id":{"type":"string"},"skill_line_id":{"type":"string"},"skill_line_index":{"type":"string"},"skill_points":{"type":"string"},"grant_item_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"SkillCategory":{"type":"object","properties":{"skill_category_id":{"type":"string"},"skill_set_id":{"type":"string"},"skill_set_index":{"type":"string"},"skill_points":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"SkillLine":{"type":"object","properties":{"skill_line_id":{"type":"string"},"skill_points":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"SkillSet":{"type":"object","properties":{"skill_set_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"TargetType":{"type":"object","properties":{"target_type_id":{"type":"string"},"description":{"type":"string"}}},"Title":{"type":"object","properties":{"title_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}}}},"Vehicle":{"type":"object","properties":{"vehicle_id":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"type_id":{"type":"string"},"type_name":{"type":"string"},"cost_resource_id":{"type":"string"},"image_set_id":{"type":"string"},"image_id":{"type":"string"},"image_path":{"type":"string"}}},"VehicleAttachment":{"type":"object","properties":{"item_id":{"type":"string"},"vehicle_id":{"type":"string"},"faction_id":{"type":"string"},"description":{"type":"string"},"slot_id":{"type":"string"}}},"VehicleFaction":{"type":"object","properties":{"vehicle_id":{"type":"string"},"faction_id":{"type":"string"}}},"VehicleSkillSet":{"type":"object","properties":{"vehicle_id":{"type":"string"},"skill_set_id":{"type":"string"},"faction_id":{"type":"string"},"display_index":{"type":"string"}}},"Weapon":{"type":"object","properties":{"weapon_id":{"type":"string"},"turn_modifier":{"type":"string"},"move_modifier":{"type":"string"},"sprint_recovery_ms":{"type":"string"},"equip_ms":{"type":"string"},"unequip_ms":{"type":"string"},"to_iron_sights_ms":{"type":"string"},"from_iron_sights_ms":{"type":"string"},"melee_detect_width":{"type":"string"},"melee_detect_height":{"type":"string"}}},"WeaponAmmoSlot":{"type":"object","properties":{"weapon_id":{"type":"string"},"weapon_slot_index":{"type":"string"},"clip_size":{"type":"string"},"capacity":{"type":"string"}}},"WeaponDatasheet":{"type":"object","properties":{"item_id":{"type":"string"},"damage":{"type":"string"},"damage_min":{"type":"string"},"damage_max":{"type":"string"},"fire_cone":{"type":"string"},"fire_cone_min":{"type":"string"},"fire_cone_max":{"type":"string"},"fire_rate_ms":{"type":"string"},"fire_rate_ms_min":{"type":"string"},"fire_rate_mx_max":{"type":"string"},"reload_ms":{"type":"string"},"reload_ms_min":{"type":"string"},"reload_ms_max":{"type":"string"},"clip_size":{"type":"string"},"capacity":{"type":"string"},"range":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"show_clip_size":{"type":"string"},"show_fire_modes":{"type":"string"},"show_range":{"type":"string"}}},"WeaponToAttachment":{"type":"object","properties":{"weapon_group_id":{"type":"string"},"attachment_id":{"type":"string"},"item_id":{"type":"string"}}},"WeaponToFireGroup":{"type":"object","properties":{"weapon_id":{"type":"string"},"fire_group_id":{"type":"string"},"fire_group_index":{"type":"string"}}},"World":{"type":"object","properties":{"world_id":{"type":"string"},"state":{"type":"string"},"name":{"type":"object","properties":{"en":{"type":"string"},"de":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}}}},"WorldEvent":{"type":"object","properties":{"facility_id":{"type":"string"},"faction_old":{"type":"string"},"faction_new":{"type":"string"},"duration_held":{"type":"string"},"objective_id":{"type":"string"},"timestamp":{"type":"string"},"zone_id":{"type":"string"},"world_id":{"type":"string"},"event_type":{"type":"string"},"table_type":{"type":"string"},"outfit_id":{"type":"string"}}},"WorldStatHistory":{"type":"object","properties":{"world_id":{"type":"string"},"stat_name":{"type":"string"},"type":{"type":"string"},"tracker_name":{"type":"string"},"faction":{"type":"string"},"all_time":{"type":"string"},"day":{"type":"object","properties":{"d01":{"type":"string"},"d02":{"type":"string"},"d03":{"type":"string"},"d04":{"type":"string"},"d05":{"type":"string"},"d06":{"type":"string"},"d07":{"type":"string"},"d08":{"type":"string"},"d09":{"type":"string"},"d10":{"type":"string"},"d11":{"type":"string"},"d12":{"type":"string"},"d13":{"type":"string"},"d14":{"type":"string"},"d15":{"type":"string"},"d16":{"type":"string"},"d17":{"type":"string"},"d18":{"type":"string"},"d19":{"type":"string"},"d20":{"type":"string"},"d21":{"type":"string"},"d22":{"type":"string"},"d23":{"type":"string"},"d24":{"type":"string"},"d25":{"type":"string"},"d26":{"type":"string"},"d27":{"type":"string"},"d28":{"type":"string"},"d29":{"type":"string"},"d30":{"type":"string"},"d31":{"type":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string"},"m02":{"type":"string"},"m03":{"type":"string"},"m04":{"type":"string"},"m05":{"type":"string"},"m06":{"type":"string"},"m07":{"type":"string"},"m08":{"type":"string"},"m09":{"type":"string"},"m10":{"type":"string"},"m11":{"type":"string"},"m12":{"type":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string"},"w02":{"type":"string"},"w03":{"type":"string"},"w04":{"type":"string"},"w05":{"type":"string"},"w06":{"type":"string"},"w07":{"type":"string"},"w08":{"type":"string"},"w09":{"type":"string"},"w10":{"type":"string"},"w11":{"type":"string"},"w12":{"type":"string"},"w13":{"type":"string"}}},"last_save":{"type":"string"},"last_save_date":{"type":"string"}}},"Zone":{"type":"object","properties":{"zone_id":{"type":"string"},"code":{"type":"string"},"hex_size":{"type":"string"},"name":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string"},"en":{"type":"string"},"es":{"type":"string"},"fr":{"type":"string"},"it":{"type":"string"},"tr":{"type":"string"}}},"geometry_id":{"type":"string"},"dynamic":{"type":"string"}}},"ZoneEffect":{"type":"object","properties":{"zone_effect_id":{"type":"string"},"zone_effect_type_id":{"type":"string"},"ability_id":{"type":"string"},"param1":{"type":"string"},"param2":{"type":"string"},"param3":{"type":"string"},"param4":{"type":"string"},"param5":{"type":"string"},"param6":{"type":"string"}}},"ZoneEffectType":{"type":"object","properties":{"zone_effect_type_id":{"type":"string"},"description":{"type":"string"},"param1":{"type":"string"},"param2":{"type":"string"},"param3":{"type":"string"},"param4":{"type":"string"},"param5":{"type":"string"},"param6":{"type":"string"}}}},"parameters":{"serviceId":{"name":"serviceId","in":"path","schema":{"type":"string"},"required":true,"example":"s:example"},"environment":{"name":"environment","in":"path","schema":{"type":"string","enum":["ps2:v2","ps2ps4eu:v2","ps2ps4us:v2"]},"required":true}}},"paths":{"/{serviceId}/get/{environment}/":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["index"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"datatype_list":{"type":"array","items":{"type":"object","properties":{"count":{"oneOf":[{"type":"integer"},{"type":"string","enum":["dynamic","?"]}]},"hidden":{"oneOf":[{"type":"string","enum":["false"]},{"type":"boolean","enum":[false]}]},"name":{"type":"string"},"resolve_list":{"type":"array","items":{"type":"string"}}}}},"returned":{"type":"integer"}}}}}}}}},"/{serviceId}/get/{environment}/ability":{"parameters":[{"name":"ability_id","in":"query","schema":{"type":"string"}},{"name":"ability_type_id","in":"query","schema":{"type":"string"}},{"name":"distance_max","in":"query","schema":{"type":"string"}},{"name":"expire_msec","in":"query","schema":{"type":"string"}},{"name":"first_use_delay_msec","in":"query","schema":{"type":"string"}},{"name":"flag_toggle","in":"query","schema":{"type":"string"}},{"name":"next_use_delay_msec","in":"query","schema":{"type":"string"}},{"name":"param1","in":"query","schema":{"type":"string"}},{"name":"param10","in":"query","schema":{"type":"string"}},{"name":"param11","in":"query","schema":{"type":"string"}},{"name":"param12","in":"query","schema":{"type":"string"}},{"name":"param13","in":"query","schema":{"type":"string"}},{"name":"param14","in":"query","schema":{"type":"string"}},{"name":"param2","in":"query","schema":{"type":"string"}},{"name":"param3","in":"query","schema":{"type":"string"}},{"name":"param4","in":"query","schema":{"type":"string"}},{"name":"param5","in":"query","schema":{"type":"string"}},{"name":"param6","in":"query","schema":{"type":"string"}},{"name":"param7","in":"query","schema":{"type":"string"}},{"name":"param8","in":"query","schema":{"type":"string"}},{"name":"param9","in":"query","schema":{"type":"string"}},{"name":"radius_max","in":"query","schema":{"type":"string"}},{"name":"resource_cost_per_msec","in":"query","schema":{"type":"string"}},{"name":"resource_first_cost","in":"query","schema":{"type":"string"}},{"name":"resource_type_id","in":"query","schema":{"type":"string"}},{"name":"reuse_delay_msec","in":"query","schema":{"type":"string"}},{"name":"string1","in":"query","schema":{"type":"string"}},{"name":"string2","in":"query","schema":{"type":"string"}},{"name":"string3","in":"query","schema":{"type":"string"}},{"name":"string4","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"ability_list":{"type":"array","items":{"$ref":"#/components/schemas/Ability"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/ability":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/ability_type":{"parameters":[{"name":"ability_type_id","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"name":"param1","in":"query","schema":{"type":"string"}},{"name":"param10","in":"query","schema":{"type":"string"}},{"name":"param11","in":"query","schema":{"type":"string"}},{"name":"param12","in":"query","schema":{"type":"string"}},{"name":"param13","in":"query","schema":{"type":"string"}},{"name":"param14","in":"query","schema":{"type":"string"}},{"name":"param2","in":"query","schema":{"type":"string"}},{"name":"param3","in":"query","schema":{"type":"string"}},{"name":"param4","in":"query","schema":{"type":"string"}},{"name":"param5","in":"query","schema":{"type":"string"}},{"name":"param6","in":"query","schema":{"type":"string"}},{"name":"param7","in":"query","schema":{"type":"string"}},{"name":"param8","in":"query","schema":{"type":"string"}},{"name":"param9","in":"query","schema":{"type":"string"}},{"name":"string1","in":"query","schema":{"type":"string"}},{"name":"string2","in":"query","schema":{"type":"string"}},{"name":"string3","in":"query","schema":{"type":"string"}},{"name":"string4","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"ability_type_list":{"type":"array","items":{"$ref":"#/components/schemas/AbilityType"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/ability_type":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/achievement":{"parameters":[{"name":"achievement_id","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"name":"description.de","in":"query","schema":{"type":"string"}},{"name":"description.en","in":"query","schema":{"type":"string"}},{"name":"description.es","in":"query","schema":{"type":"string"}},{"name":"description.fr","in":"query","schema":{"type":"string"}},{"name":"description.it","in":"query","schema":{"type":"string"}},{"name":"description.tr","in":"query","schema":{"type":"string"}},{"name":"image_id","in":"query","schema":{"type":"string"}},{"name":"image_path","in":"query","schema":{"type":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"name":"objective_group_id","in":"query","schema":{"type":"string"}},{"name":"repeatable","in":"query","schema":{"type":"string"}},{"name":"reward_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"achievement_list":{"type":"array","items":{"$ref":"#/components/schemas/Achievement"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/achievement":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/armor_facing":{"parameters":[{"name":"armor_facing_id","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"armor_facing_list":{"type":"array","items":{"$ref":"#/components/schemas/ArmorFacing"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/armor_facing":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/armor_info":{"parameters":[{"name":"armor_amount","in":"query","schema":{"type":"string"}},{"name":"armor_facing_id","in":"query","schema":{"type":"string"}},{"name":"armor_info_id","in":"query","schema":{"type":"string"}},{"name":"armor_percent","in":"query","schema":{"type":"string"}},{"name":"description","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"armor_info_list":{"type":"array","items":{"$ref":"#/components/schemas/ArmorInfo"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/armor_info":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/character":{"parameters":[{"name":"battle_rank","in":"query","schema":{"type":"string"}},{"name":"battle_rank.percent_to_next","in":"query","schema":{"type":"string"}},{"name":"battle_rank.value","in":"query","schema":{"type":"string"}},{"name":"certs","in":"query","schema":{"type":"string"}},{"name":"certs.available_points","in":"query","schema":{"type":"string"}},{"name":"certs.earned_points","in":"query","schema":{"type":"string"}},{"name":"certs.gifted_points","in":"query","schema":{"type":"string"}},{"name":"certs.percent_to_next","in":"query","schema":{"type":"string"}},{"name":"certs.spent_points","in":"query","schema":{"type":"string"}},{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"daily_ribbon","in":"query","schema":{"type":"string"}},{"name":"daily_ribbon.count","in":"query","schema":{"type":"string"}},{"name":"daily_ribbon.date","in":"query","schema":{"type":"string"}},{"name":"daily_ribbon.time","in":"query","schema":{"type":"string"}},{"name":"faction_id","in":"query","schema":{"type":"string"}},{"name":"head_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.first","in":"query","schema":{"type":"string"}},{"name":"name.first_lower","in":"query","schema":{"type":"string"}},{"name":"prestige_level","in":"query","schema":{"type":"string"}},{"name":"profile_id","in":"query","schema":{"type":"string"}},{"name":"times","in":"query","schema":{"type":"string"}},{"name":"times.creation","in":"query","schema":{"type":"string"}},{"name":"times.creation_date","in":"query","schema":{"type":"string"}},{"name":"times.last_login","in":"query","schema":{"type":"string"}},{"name":"times.last_login_date","in":"query","schema":{"type":"string"}},{"name":"times.last_save","in":"query","schema":{"type":"string"}},{"name":"times.last_save_date","in":"query","schema":{"type":"string"}},{"name":"times.login_count","in":"query","schema":{"type":"string"}},{"name":"times.minutes_played","in":"query","schema":{"type":"string"}},{"name":"title_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"character_list":{"type":"array","items":{"$ref":"#/components/schemas/Character"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/character":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/character_name":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.first","in":"query","schema":{"type":"string"}},{"name":"name.first_lower","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"character_name_list":{"type":"array","items":{"$ref":"#/components/schemas/CharacterName"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/character_name":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_achievement":{"parameters":[{"name":"achievement_id","in":"query","schema":{"type":"string"}},{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"earned_count","in":"query","schema":{"type":"string"}},{"name":"finish","in":"query","schema":{"type":"string"}},{"name":"finish_date","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"start","in":"query","schema":{"type":"string"}},{"name":"start_date","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_achievement_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersAchievement"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_achievement":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_currency":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"currency_id","in":"query","schema":{"type":"string"}},{"name":"currency_name","in":"query","schema":{"type":"string"}},{"name":"prestige_currency","in":"query","schema":{"type":"string"}},{"name":"quantity","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_currency_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersCurrency"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_currency":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_directive":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"completion_time","in":"query","schema":{"type":"string"}},{"name":"completion_time_date","in":"query","schema":{"type":"string"}},{"name":"directive_id","in":"query","schema":{"type":"string"}},{"name":"directive_tree_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_directive_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersDirective"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_directive":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_directive_objective":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"directive_id","in":"query","schema":{"type":"string"}},{"name":"objective_group_id","in":"query","schema":{"type":"string"}},{"name":"objective_id","in":"query","schema":{"type":"string"}},{"name":"state_data","in":"query","schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_directive_objective_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersDirectiveObjective"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_directive_objective":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_directive_tier":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"completion_time","in":"query","schema":{"type":"string"}},{"name":"completion_time_date","in":"query","schema":{"type":"string"}},{"name":"directive_tier_id","in":"query","schema":{"type":"string"}},{"name":"directive_tree_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_directive_tier_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersDirectiveTier"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_directive_tier":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_directive_tree":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"completion_time","in":"query","schema":{"type":"string"}},{"name":"completion_time_date","in":"query","schema":{"type":"string"}},{"name":"current_directive_tier_id","in":"query","schema":{"type":"string"}},{"name":"current_level","in":"query","schema":{"type":"string"}},{"name":"directive_tree_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_directive_tree_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersDirectiveTree"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_directive_tree":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_event":{"parameters":[{"name":"after","in":"query","schema":{"type":"string"}},{"name":"before","in":"query","schema":{"type":"string"}},{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"id","in":"query","schema":{"type":"string"}},{"name":"timestamp","in":"query","schema":{"type":"string"}},{"name":"type","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_event_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersEvent"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_event":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_event_grouped":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"id","in":"query","schema":{"type":"string"}},{"name":"type","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_event_grouped_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersEventGrouped"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_event_grouped":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_friend":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_friend_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersFriend"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_friend":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_item":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_item_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersItem"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_item":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_leaderboard":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_leaderboard_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersLeaderboard"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_leaderboard":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_online_status":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_online_status_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersOnlineStatus"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_online_status":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_skill":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"skill_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_skill_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersSkill"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_skill":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_stat":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"profile_id","in":"query","schema":{"type":"string"}},{"name":"stat_name","in":"query","schema":{"type":"string"}},{"name":"value_daily","in":"query","schema":{"type":"string"}},{"name":"value_forever","in":"query","schema":{"type":"string"}},{"name":"value_monthly","in":"query","schema":{"type":"string"}},{"name":"value_one_life_max","in":"query","schema":{"type":"string"}},{"name":"value_weekly","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_stat_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersStat"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_stat":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_stat_by_faction":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"profile_id","in":"query","schema":{"type":"string"}},{"name":"stat_name","in":"query","schema":{"type":"string"}},{"name":"value_daily_nc","in":"query","schema":{"type":"string"}},{"name":"value_daily_tr","in":"query","schema":{"type":"string"}},{"name":"value_daily_vs","in":"query","schema":{"type":"string"}},{"name":"value_forever_nc","in":"query","schema":{"type":"string"}},{"name":"value_forever_tr","in":"query","schema":{"type":"string"}},{"name":"value_forever_vs","in":"query","schema":{"type":"string"}},{"name":"value_monthly_nc","in":"query","schema":{"type":"string"}},{"name":"value_monthly_tr","in":"query","schema":{"type":"string"}},{"name":"value_monthly_vs","in":"query","schema":{"type":"string"}},{"name":"value_one_life_max_nc","in":"query","schema":{"type":"string"}},{"name":"value_one_life_max_tr","in":"query","schema":{"type":"string"}},{"name":"value_one_life_max_vs","in":"query","schema":{"type":"string"}},{"name":"value_weekly_nc","in":"query","schema":{"type":"string"}},{"name":"value_weekly_tr","in":"query","schema":{"type":"string"}},{"name":"value_weekly_vs","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_stat_by_faction_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersStatByFaction"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_stat_by_faction":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_stat_history":{"parameters":[{"name":"all_time","in":"query","schema":{"type":"string"}},{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"day","in":"query","schema":{"type":"string"}},{"name":"day.d01","in":"query","schema":{"type":"string"}},{"name":"day.d02","in":"query","schema":{"type":"string"}},{"name":"day.d03","in":"query","schema":{"type":"string"}},{"name":"day.d04","in":"query","schema":{"type":"string"}},{"name":"day.d05","in":"query","schema":{"type":"string"}},{"name":"day.d06","in":"query","schema":{"type":"string"}},{"name":"day.d07","in":"query","schema":{"type":"string"}},{"name":"day.d08","in":"query","schema":{"type":"string"}},{"name":"day.d09","in":"query","schema":{"type":"string"}},{"name":"day.d10","in":"query","schema":{"type":"string"}},{"name":"day.d11","in":"query","schema":{"type":"string"}},{"name":"day.d12","in":"query","schema":{"type":"string"}},{"name":"day.d13","in":"query","schema":{"type":"string"}},{"name":"day.d14","in":"query","schema":{"type":"string"}},{"name":"day.d15","in":"query","schema":{"type":"string"}},{"name":"day.d16","in":"query","schema":{"type":"string"}},{"name":"day.d17","in":"query","schema":{"type":"string"}},{"name":"day.d18","in":"query","schema":{"type":"string"}},{"name":"day.d19","in":"query","schema":{"type":"string"}},{"name":"day.d20","in":"query","schema":{"type":"string"}},{"name":"day.d21","in":"query","schema":{"type":"string"}},{"name":"day.d22","in":"query","schema":{"type":"string"}},{"name":"day.d23","in":"query","schema":{"type":"string"}},{"name":"day.d24","in":"query","schema":{"type":"string"}},{"name":"day.d25","in":"query","schema":{"type":"string"}},{"name":"day.d26","in":"query","schema":{"type":"string"}},{"name":"day.d27","in":"query","schema":{"type":"string"}},{"name":"day.d28","in":"query","schema":{"type":"string"}},{"name":"day.d29","in":"query","schema":{"type":"string"}},{"name":"day.d30","in":"query","schema":{"type":"string"}},{"name":"day.d31","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"month","in":"query","schema":{"type":"string"}},{"name":"month.m01","in":"query","schema":{"type":"string"}},{"name":"month.m02","in":"query","schema":{"type":"string"}},{"name":"month.m03","in":"query","schema":{"type":"string"}},{"name":"month.m04","in":"query","schema":{"type":"string"}},{"name":"month.m05","in":"query","schema":{"type":"string"}},{"name":"month.m06","in":"query","schema":{"type":"string"}},{"name":"month.m07","in":"query","schema":{"type":"string"}},{"name":"month.m08","in":"query","schema":{"type":"string"}},{"name":"month.m09","in":"query","schema":{"type":"string"}},{"name":"month.m10","in":"query","schema":{"type":"string"}},{"name":"month.m11","in":"query","schema":{"type":"string"}},{"name":"month.m12","in":"query","schema":{"type":"string"}},{"name":"one_life_max","in":"query","schema":{"type":"string"}},{"name":"stat_name","in":"query","schema":{"type":"string"}},{"name":"week","in":"query","schema":{"type":"string"}},{"name":"week.w01","in":"query","schema":{"type":"string"}},{"name":"week.w02","in":"query","schema":{"type":"string"}},{"name":"week.w03","in":"query","schema":{"type":"string"}},{"name":"week.w04","in":"query","schema":{"type":"string"}},{"name":"week.w05","in":"query","schema":{"type":"string"}},{"name":"week.w06","in":"query","schema":{"type":"string"}},{"name":"week.w07","in":"query","schema":{"type":"string"}},{"name":"week.w08","in":"query","schema":{"type":"string"}},{"name":"week.w09","in":"query","schema":{"type":"string"}},{"name":"week.w10","in":"query","schema":{"type":"string"}},{"name":"week.w11","in":"query","schema":{"type":"string"}},{"name":"week.w12","in":"query","schema":{"type":"string"}},{"name":"week.w13","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_stat_history_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersStatHistory"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_stat_history":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_weapon_stat":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"stat_name","in":"query","schema":{"type":"string"}},{"name":"value","in":"query","schema":{"type":"string"}},{"name":"vehicle_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_weapon_stat_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersWeaponStat"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_weapon_stat":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_weapon_stat_by_faction":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"item_id","in":"query","schema":{"type":"string"}},{"name":"last_save","in":"query","schema":{"type":"string"}},{"name":"last_save_date","in":"query","schema":{"type":"string"}},{"name":"stat_name","in":"query","schema":{"type":"string"}},{"name":"value_nc","in":"query","schema":{"type":"string"}},{"name":"value_tr","in":"query","schema":{"type":"string"}},{"name":"value_vs","in":"query","schema":{"type":"string"}},{"name":"vehicle_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_weapon_stat_by_faction_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersWeaponStatByFaction"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_weapon_stat_by_faction":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/characters_world":{"parameters":[{"name":"character_id","in":"query","schema":{"type":"string"}},{"name":"world_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"characters_world_list":{"type":"array","items":{"$ref":"#/components/schemas/CharactersWorld"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/characters_world":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/currency":{"parameters":[{"name":"currency_id","in":"query","schema":{"type":"string"}},{"name":"icon_id","in":"query","schema":{"type":"string"}},{"name":"inventory_cap","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"currency_list":{"type":"array","items":{"$ref":"#/components/schemas/Currency"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/currency":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/directive":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"description.de","in":"query","schema":{"type":"string"}},{"name":"description.en","in":"query","schema":{"type":"string"}},{"name":"description.es","in":"query","schema":{"type":"string"}},{"name":"description.fr","in":"query","schema":{"type":"string"}},{"name":"description.it","in":"query","schema":{"type":"string"}},{"name":"description.tr","in":"query","schema":{"type":"string"}},{"name":"directive_id","in":"query","schema":{"type":"string"}},{"name":"directive_tier_id","in":"query","schema":{"type":"string"}},{"name":"directive_tree_id","in":"query","schema":{"type":"string"}},{"name":"image_id","in":"query","schema":{"type":"string"}},{"name":"image_path","in":"query","schema":{"type":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"name":"objective_set_id","in":"query","schema":{"type":"string"}},{"name":"qualify_requirement_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"directive_list":{"type":"array","items":{"$ref":"#/components/schemas/Directive"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/directive":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/directive_tier":{"parameters":[{"name":"completion_count","in":"query","schema":{"type":"string"}},{"name":"directive_points","in":"query","schema":{"type":"string"}},{"name":"directive_tier_id","in":"query","schema":{"type":"string"}},{"name":"directive_tree_id","in":"query","schema":{"type":"string"}},{"name":"image_id","in":"query","schema":{"type":"string"}},{"name":"image_path","in":"query","schema":{"type":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"name":"reward_set_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"directive_tier_list":{"type":"array","items":{"$ref":"#/components/schemas/DirectiveTier"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/directive_tier":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/directive_tree":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"description.de","in":"query","schema":{"type":"string"}},{"name":"description.en","in":"query","schema":{"type":"string"}},{"name":"description.es","in":"query","schema":{"type":"string"}},{"name":"description.fr","in":"query","schema":{"type":"string"}},{"name":"description.it","in":"query","schema":{"type":"string"}},{"name":"description.tr","in":"query","schema":{"type":"string"}},{"name":"directive_tree_category_id","in":"query","schema":{"type":"string"}},{"name":"directive_tree_id","in":"query","schema":{"type":"string"}},{"name":"image_id","in":"query","schema":{"type":"string"}},{"name":"image_path","in":"query","schema":{"type":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"directive_tree_list":{"type":"array","items":{"$ref":"#/components/schemas/DirectiveTree"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/directive_tree":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/directive_tree_category":{"parameters":[{"name":"directive_tree_category_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"directive_tree_category_list":{"type":"array","items":{"$ref":"#/components/schemas/DirectiveTreeCategory"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/directive_tree_category":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/effect":{"parameters":[{"name":"ability_id","in":"query","schema":{"type":"string"}},{"name":"duration_seconds","in":"query","schema":{"type":"string"}},{"name":"effect_id","in":"query","schema":{"type":"string"}},{"name":"effect_type_id","in":"query","schema":{"type":"string"}},{"name":"is_drain","in":"query","schema":{"type":"string"}},{"name":"param1","in":"query","schema":{"type":"string"}},{"name":"param10","in":"query","schema":{"type":"string"}},{"name":"param11","in":"query","schema":{"type":"string"}},{"name":"param12","in":"query","schema":{"type":"string"}},{"name":"param13","in":"query","schema":{"type":"string"}},{"name":"param2","in":"query","schema":{"type":"string"}},{"name":"param3","in":"query","schema":{"type":"string"}},{"name":"param4","in":"query","schema":{"type":"string"}},{"name":"param5","in":"query","schema":{"type":"string"}},{"name":"param6","in":"query","schema":{"type":"string"}},{"name":"param7","in":"query","schema":{"type":"string"}},{"name":"param8","in":"query","schema":{"type":"string"}},{"name":"param9","in":"query","schema":{"type":"string"}},{"name":"resist_type_id","in":"query","schema":{"type":"string"}},{"name":"target_type_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"effect_list":{"type":"array","items":{"$ref":"#/components/schemas/Effect"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/effect":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/effect_type":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"effect_type_id","in":"query","schema":{"type":"string"}},{"name":"param1","in":"query","schema":{"type":"string"}},{"name":"param10","in":"query","schema":{"type":"string"}},{"name":"param11","in":"query","schema":{"type":"string"}},{"name":"param12","in":"query","schema":{"type":"string"}},{"name":"param13","in":"query","schema":{"type":"string"}},{"name":"param2","in":"query","schema":{"type":"string"}},{"name":"param3","in":"query","schema":{"type":"string"}},{"name":"param4","in":"query","schema":{"type":"string"}},{"name":"param5","in":"query","schema":{"type":"string"}},{"name":"param6","in":"query","schema":{"type":"string"}},{"name":"param7","in":"query","schema":{"type":"string"}},{"name":"param8","in":"query","schema":{"type":"string"}},{"name":"param9","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"effect_type_list":{"type":"array","items":{"$ref":"#/components/schemas/EffectType"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/effect_type":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/empire_scores":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"description.de","in":"query","schema":{"type":"string"}},{"name":"description.en","in":"query","schema":{"type":"string"}},{"name":"description.es","in":"query","schema":{"type":"string"}},{"name":"description.fr","in":"query","schema":{"type":"string"}},{"name":"description.it","in":"query","schema":{"type":"string"}},{"name":"description.tr","in":"query","schema":{"type":"string"}},{"name":"end_date","in":"query","schema":{"type":"string"}},{"name":"end_time","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"name":"start_date","in":"query","schema":{"type":"string"}},{"name":"start_time","in":"query","schema":{"type":"string"}},{"name":"tracker_description","in":"query","schema":{"type":"string"}},{"name":"tracker_name","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"empire_scores_list":{"type":"array","items":{"$ref":"#/components/schemas/EmpireScores"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/empire_scores":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/event":{"parameters":[{"name":"after","in":"query","schema":{"type":"string"}},{"name":"before","in":"query","schema":{"type":"string"}},{"name":"timestamp","in":"query","schema":{"type":"string"}},{"name":"type","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"event_list":{"type":"array","items":{"$ref":"#/components/schemas/Event"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/event":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/experience":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"experience_award_type_id","in":"query","schema":{"type":"string"}},{"name":"experience_id","in":"query","schema":{"type":"string"}},{"name":"xp","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"experience_list":{"type":"array","items":{"$ref":"#/components/schemas/Experience"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/experience":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/experience_award_type":{"parameters":[{"name":"experience_award_type_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"experience_award_type_list":{"type":"array","items":{"$ref":"#/components/schemas/ExperienceAwardType"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/experience_award_type":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/experience_rank":{"parameters":[{"name":"nc","in":"query","schema":{"type":"string"}},{"name":"nc.image_id","in":"query","schema":{"type":"string"}},{"name":"nc.image_set_id","in":"query","schema":{"type":"string"}},{"name":"nc.title","in":"query","schema":{"type":"string"}},{"name":"nc.title.de","in":"query","schema":{"type":"string"}},{"name":"nc.title.en","in":"query","schema":{"type":"string"}},{"name":"nc.title.es","in":"query","schema":{"type":"string"}},{"name":"nc.title.fr","in":"query","schema":{"type":"string"}},{"name":"nc.title.it","in":"query","schema":{"type":"string"}},{"name":"nc.title.tr","in":"query","schema":{"type":"string"}},{"name":"nc_image_path","in":"query","schema":{"type":"string"}},{"name":"rank","in":"query","schema":{"type":"string"}},{"name":"tr","in":"query","schema":{"type":"string"}},{"name":"tr.image_id","in":"query","schema":{"type":"string"}},{"name":"tr.image_set_id","in":"query","schema":{"type":"string"}},{"name":"tr.title","in":"query","schema":{"type":"string"}},{"name":"tr.title.de","in":"query","schema":{"type":"string"}},{"name":"tr.title.en","in":"query","schema":{"type":"string"}},{"name":"tr.title.es","in":"query","schema":{"type":"string"}},{"name":"tr.title.fr","in":"query","schema":{"type":"string"}},{"name":"tr.title.it","in":"query","schema":{"type":"string"}},{"name":"tr.title.tr","in":"query","schema":{"type":"string"}},{"name":"tr_image_path","in":"query","schema":{"type":"string"}},{"name":"vs","in":"query","schema":{"type":"string"}},{"name":"vs.image_id","in":"query","schema":{"type":"string"}},{"name":"vs.image_set_id","in":"query","schema":{"type":"string"}},{"name":"vs.title","in":"query","schema":{"type":"string"}},{"name":"vs.title.de","in":"query","schema":{"type":"string"}},{"name":"vs.title.en","in":"query","schema":{"type":"string"}},{"name":"vs.title.es","in":"query","schema":{"type":"string"}},{"name":"vs.title.fr","in":"query","schema":{"type":"string"}},{"name":"vs.title.it","in":"query","schema":{"type":"string"}},{"name":"vs.title.tr","in":"query","schema":{"type":"string"}},{"name":"vs_image_path","in":"query","schema":{"type":"string"}},{"name":"xp_max","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"experience_rank_list":{"type":"array","items":{"$ref":"#/components/schemas/ExperienceRank"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/experience_rank":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/facility_link":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"facility_id_a","in":"query","schema":{"type":"string"}},{"name":"facility_id_b","in":"query","schema":{"type":"string"}},{"name":"zone_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"facility_link_list":{"type":"array","items":{"$ref":"#/components/schemas/FacilityLink"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/facility_link":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/facility_type":{"parameters":[{"name":"description","in":"query","schema":{"type":"string"}},{"name":"facility_type_id","in":"query","schema":{"type":"string"}},{"name":"image_id","in":"query","schema":{"type":"string"}},{"name":"image_path","in":"query","schema":{"type":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"facility_type_list":{"type":"array","items":{"$ref":"#/components/schemas/FacilityType"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/facility_type":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/faction":{"parameters":[{"name":"code_tag","in":"query","schema":{"type":"string"}},{"name":"faction_id","in":"query","schema":{"type":"string"}},{"name":"image_id","in":"query","schema":{"type":"string"}},{"name":"image_path","in":"query","schema":{"type":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string"}},{"name":"name","in":"query","schema":{"type":"string"}},{"name":"name.de","in":"query","schema":{"type":"string"}},{"name":"name.en","in":"query","schema":{"type":"string"}},{"name":"name.es","in":"query","schema":{"type":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string"}},{"name":"name.it","in":"query","schema":{"type":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string"}},{"name":"user_selectable","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"faction_list":{"type":"array","items":{"$ref":"#/components/schemas/Faction"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/faction":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/{serviceId}/get/{environment}/fire_group":{"parameters":[{"name":"can_chamber_ironsights","in":"query","schema":{"type":"string"}},{"name":"chamber_duration_ms","in":"query","schema":{"type":"string"}},{"name":"fire_group_id","in":"query","schema":{"type":"string"}},{"name":"spool_up_initial_refire_ms","in":"query","schema":{"type":"string"}},{"name":"spool_up_ms","in":"query","schema":{"type":"string"}},{"name":"transition_duration_ms","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"fire_group_list":{"type":"array","items":{"$ref":"#/components/schemas/FireGroup"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/{serviceId}/count/{environment}/fire_group":{"parameters":[{"$ref":"#/components/parameters/serviceId"},{"$ref":"#/components/pa
[...]
