{"openapi":"3.0.3","info":{"title":"Census REST API","version":"10.0"},"servers":[{"url":"https://census.daybreakgames.com/s:{serviceId}","variables":{"serviceId":{"default":"example"}}},{"url":"https://census.daybreakgames.com/"}],"components":{"schemas":{"CensusError":{"oneOf":[{"type":"object","properties":{"errorCode":{"type":"string"},"errorMessage":{"type":"string"}}},{"type":"object","properties":{"error":{"type":"string"}}}]},"Count":{"type":"object","properties":{"count":{"type":"integer"}}},"Ability":{"type":"object","properties":{"ability_id":{"type":"string","format":"id"},"ability_type_id":{"type":"string","format":"id"},"resource_type_id":{"type":"string","format":"id"},"resource_first_cost":{"type":"string","format":"string"},"resource_cost_per_msec":{"type":"string","format":"string"},"flag_toggle":{"type":"string","format":"string"}}},"AbilityType":{"type":"object","properties":{"ability_type_id":{"type":"string","format":"id"}}},"Achievement":{"type":"object","properties":{"achievement_id":{"type":"string","format":"id"},"item_id":{"type":"string","format":"id"},"objective_group_id":{"type":"string","format":"id"},"reward_id":{"type":"string","format":"id"},"repeatable":{"type":"string","format":"string"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"ArmorFacing":{"type":"object","properties":{"armor_facing_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"ArmorInfo":{"type":"object","properties":{"armor_info_id":{"type":"string","format":"id"},"armor_facing_id":{"type":"string","format":"id"},"armor_percent":{"type":"string","format":"number"},"description":{"type":"string","format":"string"}}},"Character":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"first":{"type":"string","format":"string"},"first_lower":{"type":"string","format":"string"}}},"faction_id":{"type":"string","format":"id"},"head_id":{"type":"string","format":"id"},"title_id":{"type":"string","format":"id"},"times":{"type":"object","properties":{"creation":{"type":"string","format":"string"},"creation_date":{"type":"string","format":"date"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"},"last_login":{"type":"string","format":"string"},"last_login_date":{"type":"string","format":"date"},"login_count":{"type":"string","format":"integer"},"minutes_played":{"type":"string","format":"integer"}}},"certs":{"type":"object","properties":{"earned_points":{"type":"string","format":"string"},"gifted_points":{"type":"string","format":"string"},"spent_points":{"type":"string","format":"string"},"available_points":{"type":"string","format":"string"},"percent_to_next":{"type":"string","format":"number"}}},"battle_rank":{"type":"object","properties":{"percent_to_next":{"type":"string","format":"number"},"value":{"type":"string","format":"string"}}},"profile_id":{"type":"string","format":"id"},"daily_ribbon":{"type":"object","properties":{"count":{"type":"string","format":"integer"},"time":{"type":"string","format":"epoch"},"date":{"type":"string","format":"date"}}},"prestige_level":{"type":"string","format":"string"}}},"CharacterName":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"first":{"type":"string","format":"string"},"first_lower":{"type":"string","format":"string"}}}}},"CharactersAchievement":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"achievement_id":{"type":"string","format":"id"},"start":{"type":"string","format":"string"},"start_date":{"type":"string","format":"date"},"finish":{"type":"string","format":"string"},"finish_date":{"type":"string","format":"date"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersCurrency":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"currency_id":{"type":"string","format":"id"},"currency_name":{"type":"string","format":"string"},"quantity":{"type":"string","format":"string"},"prestige_currency":{"type":"string","format":"string"}}},"CharactersDirective":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"directive_tree_id":{"type":"string","format":"id"},"directive_id":{"type":"string","format":"id"},"completion_time":{"type":"string","format":"string"},"completion_time_date":{"type":"string","format":"date"}}},"CharactersDirectiveObjective":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"directive_id":{"type":"string","format":"id"},"objective_id":{"type":"string","format":"id"},"objective_group_id":{"type":"string","format":"id"},"status":{"type":"string","format":"string"},"state_data":{"type":"string","format":"string"}}},"CharactersDirectiveTier":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"directive_tree_id":{"type":"string","format":"id"},"directive_tier_id":{"type":"string","format":"id"},"completion_time":{"type":"string","format":"string"},"completion_time_date":{"type":"string","format":"date"}}},"CharactersDirectiveTree":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"directive_tree_id":{"type":"string","format":"id"},"current_directive_tier_id":{"type":"string","format":"id"},"current_level":{"type":"string","format":"string"},"completion_time":{"type":"string","format":"string"},"completion_time_date":{"type":"string","format":"date"}}},"CharactersEvent":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"achievement_id":{"type":"string","format":"id"},"timestamp":{"type":"string","format":"string"},"zone_id":{"type":"string","format":"id"},"world_id":{"type":"string","format":"id"},"event_type":{"type":"string","format":"string"},"table_type":{"type":"string","format":"string"}}},"CharactersEventGrouped":{"type":"object","properties":{"table_type":{"type":"string","format":"string"},"count":{"type":"string","format":"integer"},"character_id":{"type":"string","format":"id"}}},"CharactersFriend":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"name":{"type":"string","nullable":true,"enum":[null]},"friend_list":{"type":"array","items":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"last_login_time":{"type":"string","format":"string"},"online":{"type":"string","format":"string"}}}}}},"CharactersItem":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"item_id":{"type":"string","format":"id"}}},"CharactersLeaderboard":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"value":{"type":"string","format":"string"},"rank":{"type":"string","format":"string"}}},"CharactersOnlineStatus":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"online_status":{"type":"string","format":"string"}}},"CharactersSkill":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"skill_id":{"type":"string","format":"id"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersStat":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"profile_id":{"type":"string","format":"id"},"value_forever":{"type":"string","format":"string"},"value_monthly":{"type":"string","format":"string"},"value_weekly":{"type":"string","format":"string"},"value_daily":{"type":"string","format":"string"},"value_one_life_max":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersStatByFaction":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"profile_id":{"type":"string","format":"id"},"value_forever_vs":{"type":"string","format":"string"},"value_forever_nc":{"type":"string","format":"string"},"value_forever_tr":{"type":"string","format":"string"},"value_monthly_vs":{"type":"string","format":"string"},"value_monthly_nc":{"type":"string","format":"string"},"value_monthly_tr":{"type":"string","format":"string"},"value_weekly_vs":{"type":"string","format":"string"},"value_weekly_nc":{"type":"string","format":"string"},"value_weekly_tr":{"type":"string","format":"string"},"value_daily_vs":{"type":"string","format":"string"},"value_daily_nc":{"type":"string","format":"string"},"value_daily_tr":{"type":"string","format":"string"},"value_one_life_max_vs":{"type":"string","format":"string"},"value_one_life_max_nc":{"type":"string","format":"string"},"value_one_life_max_tr":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersStatHistory":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersWeaponStat":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"item_id":{"type":"string","format":"id"},"vehicle_id":{"type":"string","format":"id"},"value":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersWeaponStatByFaction":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"item_id":{"type":"string","format":"id"},"vehicle_id":{"type":"string","format":"id"},"value_vs":{"type":"string","format":"string"},"value_nc":{"type":"string","format":"string"},"value_tr":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"CharactersWorld":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"world_id":{"type":"string","format":"id"}}},"Currency":{"type":"object","properties":{"currency_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"icon_id":{"type":"string","format":"id"},"inventory_cap":{"type":"string","format":"string"}}},"Directive":{"type":"object","properties":{"directive_id":{"type":"string","format":"id"},"directive_tree_id":{"type":"string","format":"id"},"directive_tier_id":{"type":"string","format":"id"},"objective_set_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"DirectiveTier":{"type":"object","properties":{"directive_tree_id":{"type":"string","format":"id"},"directive_tier_id":{"type":"string","format":"id"},"directive_points":{"type":"string","format":"string"},"completion_count":{"type":"string","format":"integer"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"DirectiveTree":{"type":"object","properties":{"directive_tree_id":{"type":"string","format":"id"},"directive_tree_category_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"DirectiveTreeCategory":{"type":"object","properties":{"directive_tree_category_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}}}},"Effect":{"type":"object","properties":{"effect_id":{"type":"string","format":"id"},"effect_type_id":{"type":"string","format":"id"},"ability_id":{"type":"string","format":"id"},"target_type_id":{"type":"string","format":"id"},"resist_type_id":{"type":"string","format":"id"},"is_drain":{"type":"string","format":"string"},"param1":{"type":"string","format":"string"},"param2":{"type":"string","format":"string"},"param5":{"type":"string","format":"string"},"param6":{"type":"string","format":"string"},"param7":{"type":"string","format":"string"},"param8":{"type":"string","format":"string"},"param9":{"type":"string","format":"string"}}},"EffectType":{"type":"object","properties":{"effect_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"param1":{"type":"string","format":"string"},"param3":{"type":"string","format":"string"}}},"EmpireScores":{"type":"object","properties":{"tracker_name":{"type":"string","format":"string"},"tracker_description":{"type":"string","format":"string"},"start_date":{"type":"string","format":"date"},"start_time":{"type":"string","format":"string"},"end_date":{"type":"string","format":"date"},"end_time":{"type":"string","format":"string"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}}}},"Event":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"attacker_character_id":{"type":"string","format":"id"},"is_headshot":{"type":"string","format":"string"},"is_critical":{"type":"string","format":"string"},"attacker_weapon_id":{"type":"string","format":"id"},"attacker_vehicle_id":{"type":"string","format":"id"},"timestamp":{"type":"string","format":"string"},"zone_id":{"type":"string","format":"id"},"world_id":{"type":"string","format":"id"},"character_loadout_id":{"type":"string","format":"id"},"attacker_loadout_id":{"type":"string","format":"id"},"attacker_fire_mode_id":{"type":"string","format":"id"},"attacker_team_id":{"type":"string","format":"id"},"team_id":{"type":"string","format":"id"},"table_type":{"type":"string","format":"string"}}},"Experience":{"type":"object","properties":{"experience_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"xp":{"type":"string","format":"string"},"experience_award_type_id":{"type":"string","format":"id"}}},"ExperienceAwardType":{"type":"object","properties":{"experience_award_type_id":{"type":"string","format":"id"},"name":{"type":"string","format":"string"}}},"ExperienceRank":{"type":"object","properties":{"rank":{"type":"string","format":"string"},"xp_max":{"type":"string","format":"string"},"vs":{"type":"object","properties":{"title":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"}}},"vs_image_path":{"type":"string","format":"string"},"nc":{"type":"object","properties":{"title":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"}}},"nc_image_path":{"type":"string","format":"string"},"tr":{"type":"object","properties":{"title":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"}}},"tr_image_path":{"type":"string","format":"string"}}},"FacilityLink":{"type":"object","properties":{"zone_id":{"type":"string","format":"id"},"facility_id_a":{"type":"string","format":"string"},"facility_id_b":{"type":"string","format":"string"},"description":{"type":"string","format":"string"}}},"FacilityType":{"type":"object","properties":{"facility_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"Faction":{"type":"object","properties":{"faction_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"code_tag":{"type":"string","format":"string"},"user_selectable":{"type":"string","format":"string"}}},"FireGroup":{"type":"object","properties":{"fire_group_id":{"type":"string","format":"id"},"can_chamber_ironsights":{"type":"string","format":"string"}}},"FireGroupToFireMode":{"type":"object","properties":{"fire_group_id":{"type":"string","format":"id"},"fire_mode_id":{"type":"string","format":"id"},"fire_mode_index":{"type":"string","format":"string"}}},"FireMode":{"type":"object","properties":{"fire_mode_id":{"type":"string","format":"id"},"item_id":{"type":"string","format":"id"},"type":{"type":"string","format":"string"},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}},"player_state_group_id":{"type":"string","format":"id"},"cof_recoil":{"type":"string","format":"string"},"reload_time_ms":{"type":"string","format":"string"},"pellets_per_shot":{"type":"string","format":"string"},"pellet_spread":{"type":"string","format":"string"},"default_zoom":{"type":"string","format":"string"},"speed":{"type":"string","format":"string"},"projectile_description":{"type":"string","format":"string"},"damage_type":{"type":"string","format":"string"},"damage":{"type":"string","format":"string"},"damage_target_type":{"type":"string","format":"string"},"damage_resist_type":{"type":"string","format":"string"}}},"FireMode2":{"type":"object","properties":{"fire_mode_id":{"type":"string","format":"id"},"fire_mode_type_id":{"type":"string","format":"id"},"automatic":{"type":"string","format":"string"},"grief_immune":{"type":"string","format":"string"},"iron_sights":{"type":"string","format":"string"},"laser_guided":{"type":"string","format":"string"},"move_modifier":{"type":"string","format":"string"},"sprint_fire":{"type":"string","format":"string"},"turn_modifier":{"type":"string","format":"string"},"use_in_water":{"type":"string","format":"string"},"zoom_default":{"type":"string","format":"string"},"cof_pellet_spread":{"type":"string","format":"string"},"cof_range":{"type":"string","format":"string"},"cof_recoil":{"type":"string","format":"string"},"cof_scalar":{"type":"string","format":"string"},"cof_scalar_moving":{"type":"string","format":"string"},"player_state_group_id":{"type":"string","format":"id"},"damage_direct_effect_id":{"type":"string","format":"id"},"damage_head_multiplier":{"type":"string","format":"string"},"fire_ammo_per_shot":{"type":"string","format":"string"},"fire_auto_fire_ms":{"type":"string","format":"string"},"fire_burst_count":{"type":"string","format":"integer"},"fire_charge_up_ms":{"type":"string","format":"string"},"fire_delay_ms":{"type":"string","format":"string"},"fire_detect_range":{"type":"string","format":"string"},"fire_duration_ms":{"type":"string","format":"string"},"fire_refire_ms":{"type":"string","format":"string"},"fire_pellets_per_shot":{"type":"string","format":"string"},"lockon_maintain":{"type":"string","format":"string"},"lockon_required":{"type":"string","format":"string"},"recoil_first_shot_modifier":{"type":"string","format":"string"},"reload_block_auto":{"type":"string","format":"string"},"reload_continuous":{"type":"string","format":"string"},"reload_time_ms":{"type":"string","format":"string"},"sway_can_steady":{"type":"string","format":"string"},"armor_penetration":{"type":"string","format":"string"},"max_damage":{"type":"string","format":"string"},"min_damage_range":{"type":"string","format":"string"},"shield_bypass_pct":{"type":"string","format":"string"},"ability_block_delay_ms":{"type":"string","format":"string"},"sprint_block_delay_ms":{"type":"string","format":"string"},"charge_minimum_ms":{"type":"string","format":"string"},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"}}}}},"FireModeToProjectile":{"type":"object","properties":{"fire_mode_id":{"type":"string","format":"id"},"projectile_id":{"type":"string","format":"id"}}},"FireModeType":{"type":"object","properties":{"fire_mode_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"Image":{"type":"object","properties":{"image_id":{"type":"string","format":"id"},"path":{"type":"string","format":"string"}}},"ImageSet":{"type":"object","properties":{"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"type_id":{"type":"string","format":"id"},"type_description":{"type":"string","format":"string"},"image_path":{"type":"string","format":"string"}}},"ImageSetDefault":{"type":"object","properties":{"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"type_id":{"type":"string","format":"id"},"type_description":{"type":"string","format":"string"},"image_path":{"type":"string","format":"string"}}},"Item":{"type":"object","properties":{"item_id":{"type":"string","format":"id"},"item_type_id":{"type":"string","format":"id"},"item_category_id":{"type":"string","format":"id"},"is_vehicle_weapon":{"type":"string","format":"string"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"faction_id":{"type":"string","format":"id"},"max_stack_size":{"type":"string","format":"string"},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"},"is_default_attachment":{"type":"string","format":"string"}}},"ItemAttachment":{"type":"object","properties":{"item_id":{"type":"string","format":"id"},"attachment_item_id":{"type":"string","format":"id"}}},"ItemCategory":{"type":"object","properties":{"item_category_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}}}},"ItemProfile":{"type":"object","properties":{"item_id":{"type":"string","format":"id"},"profile_id":{"type":"string","format":"id"}}},"ItemToWeapon":{"type":"object","properties":{"item_id":{"type":"string","format":"id"},"weapon_id":{"type":"string","format":"id"}}},"ItemType":{"type":"object","properties":{"item_type_id":{"type":"string","format":"id"},"name":{"type":"string","format":"string"},"code":{"type":"string","format":"string"}}},"Leaderboard":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"value":{"type":"string","format":"string"},"rank":{"type":"string","format":"string"}}},"Loadout":{"type":"object","properties":{"loadout_id":{"type":"string","format":"id"},"profile_id":{"type":"string","format":"id"},"faction_id":{"type":"string","format":"id"},"code_name":{"type":"string","format":"string"}}},"Map":{"type":"object","properties":{"ZoneId":{"type":"string","format":"string"},"Regions":{"type":"object","properties":{"IsList":{"type":"string","format":"string"},"Row":{"type":"array","items":{"type":"object","properties":{"RowData":{"type":"object","properties":{"RegionId":{"type":"string","format":"string"},"FactionId":{"type":"string","format":"string"}}}}}}}}}},"MapHex":{"type":"object","properties":{"zone_id":{"type":"string","format":"id"},"map_region_id":{"type":"string","format":"id"},"x":{"type":"string","format":"string"},"y":{"type":"string","format":"string"},"hex_type":{"type":"string","format":"string"},"type_name":{"type":"string","format":"string"}}},"MapRegion":{"type":"object","properties":{"map_region_id":{"type":"string","format":"id"},"zone_id":{"type":"string","format":"id"},"facility_id":{"type":"string","format":"id"},"facility_name":{"type":"string","format":"string"},"facility_type_id":{"type":"string","format":"id"},"facility_type":{"type":"string","format":"string"},"location_x":{"type":"string","format":"string"},"location_y":{"type":"string","format":"string"},"location_z":{"type":"string","format":"string"},"reward_amount":{"type":"string","format":"string"},"reward_currency_id":{"type":"string","format":"id"},"capture_reward":{"type":"object","properties":{"description":{"type":"string","format":"string"},"amount":{"type":"string","format":"string"}}},"tick_reward":{"type":"object","properties":{"description":{"type":"string","format":"string"},"amount":{"type":"string","format":"string"}}}}},"MarketingBundle":{"type":"object","properties":{"marketing_bundle_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_id":{"type":"string","format":"id"},"station_cash_price":{"type":"string","format":"string"},"release_time":{"type":"string","format":"string"}}},"MarketingBundleItem":{"type":"object","properties":{"marketing_bundle_id":{"type":"string","format":"id"},"item_id":{"type":"string","format":"id"},"quantity":{"type":"string","format":"string"},"release_time":{"type":"string","format":"string"}}},"MarketingBundleWith1Item":{"type":"object","properties":{"marketing_bundle_id":{"type":"string","format":"id"},"item_id":{"type":"string","format":"id"},"item_quantity":{"type":"string","format":"string"},"station_cash_price":{"type":"string","format":"string"},"release_time":{"type":"string","format":"string"}}},"MetagameEvent":{"type":"object","properties":{"metagame_event_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"type":{"type":"string","format":"string"},"experience_bonus":{"type":"string","format":"string"},"duration_minutes":{"type":"string","format":"string"}}},"MetagameEventState":{"type":"object","properties":{"metagame_event_state_id":{"type":"string","format":"id"},"name":{"type":"string","format":"string"}}},"Objective":{"type":"object","properties":{"objective_id":{"type":"string","format":"id"},"objective_type_id":{"type":"string","format":"id"},"objective_group_id":{"type":"string","format":"id"},"param1":{"type":"string","format":"string"},"param4":{"type":"string","format":"string"},"param5":{"type":"string","format":"string"},"param8":{"type":"string","format":"string"}}},"ObjectiveSetToObjective":{"type":"object","properties":{"objective_set_id":{"type":"string","format":"id"},"objective_group_id":{"type":"string","format":"id"}}},"ObjectiveType":{"type":"object","properties":{"objective_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"param1":{"type":"string","format":"string"},"param2":{"type":"string","format":"string"},"param3":{"type":"string","format":"string"},"param4":{"type":"string","format":"string"}}},"Outfit":{"type":"object","properties":{"outfit_id":{"type":"string","format":"id"},"name":{"type":"string","format":"string"},"name_lower":{"type":"string","format":"string"},"alias":{"type":"string","format":"string"},"alias_lower":{"type":"string","format":"string"},"time_created":{"type":"string","format":"string"},"time_created_date":{"type":"string","format":"date"},"leader_character_id":{"type":"string","format":"id"},"member_count":{"type":"string","format":"integer"}}},"OutfitMember":{"type":"object","properties":{"outfit_id":{"type":"string","format":"id"},"character_id":{"type":"string","format":"id"},"member_since":{"type":"string","format":"string"},"member_since_date":{"type":"string","format":"date"},"rank":{"type":"string","format":"string"},"rank_ordinal":{"type":"string","format":"string"}}},"OutfitMemberExtended":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"member_since":{"type":"string","format":"string"},"member_since_date":{"type":"string","format":"date"},"member_rank":{"type":"string","format":"string"},"member_rank_ordinal":{"type":"string","format":"string"},"outfit_id":{"type":"string","format":"id"},"name":{"type":"string","format":"string"},"name_lower":{"type":"string","format":"string"},"alias":{"type":"string","format":"string"},"alias_lower":{"type":"string","format":"string"},"time_created":{"type":"string","format":"string"},"time_created_date":{"type":"string","format":"date"},"leader_character_id":{"type":"string","format":"id"},"member_count":{"type":"string","format":"integer"}}},"OutfitRank":{"type":"object","properties":{"outfit_id":{"type":"string","format":"id"},"ordinal":{"type":"string","format":"string"},"name":{"type":"string","format":"string"},"description":{"type":"string","format":"string"}}},"PlayerState":{"type":"object","properties":{"player_state_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"PlayerStateGroup":{"type":"object","properties":{"player_state_group_id":{"type":"string","format":"id"},"player_state":{"type":"string","format":"string"},"min_cone_of_fire":{"type":"string","format":"string"}}},"PlayerStateGroup2":{"type":"object","properties":{"player_state_group_id":{"type":"string","format":"id"},"player_state_id":{"type":"string","format":"id"},"can_iron_sight":{"type":"string","format":"string"},"cof_grow_rate":{"type":"string","format":"string"},"cof_max":{"type":"string","format":"string"},"cof_min":{"type":"string","format":"string"},"cof_recovery_delay_ms":{"type":"string","format":"string"},"cof_recovery_rate":{"type":"string","format":"string"},"cof_shots_before_penalty":{"type":"string","format":"string"},"cof_recovery_delay_threshold":{"type":"string","format":"string"},"cof_turn_penalty":{"type":"string","format":"string"}}},"Profile":{"type":"object","properties":{"profile_id":{"type":"string","format":"id"},"profile_type_id":{"type":"string","format":"id"},"profile_type_description":{"type":"string","format":"string"},"faction_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"},"movement_speed":{"type":"string","format":"string"},"backpedal_speed_modifier":{"type":"string","format":"string"},"sprint_speed_modifier":{"type":"string","format":"string"},"strafe_speed_modifier":{"type":"string","format":"string"}}},"Profile2":{"type":"object","properties":{"profile_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"ProfileArmorMap":{"type":"object","properties":{"profile_id":{"type":"string","format":"id"},"armor_info_id":{"type":"string","format":"id"},"rank":{"type":"string","format":"string"}}},"ProfileResistMap":{"type":"object","properties":{"profile_id":{"type":"string","format":"id"},"resist_info_id":{"type":"string","format":"id"},"rank":{"type":"string","format":"string"}}},"Projectile":{"type":"object","properties":{"projectile_id":{"type":"string","format":"id"},"projectile_flight_type_id":{"type":"string","format":"id"},"speed":{"type":"string","format":"string"},"lifespan":{"type":"string","format":"string"},"drag":{"type":"string","format":"string"},"gravity":{"type":"string","format":"string"},"detonate_on_contact":{"type":"string","format":"string"},"sticky":{"type":"string","format":"string"},"sticks_to_players":{"type":"string","format":"string"},"lockon_seek_in_flight":{"type":"string","format":"string"},"projectile_radius":{"type":"string","format":"string"}}},"ProjectileFlightType":{"type":"object","properties":{"projectile_flight_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"Region":{"type":"object","properties":{"region_id":{"type":"string","format":"id"},"zone_id":{"type":"string","format":"id"},"initial_faction_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}}}},"ResistInfo":{"type":"object","properties":{"resist_info_id":{"type":"string","format":"id"},"resist_type_id":{"type":"string","format":"id"},"resist_percent":{"type":"string","format":"number"},"multiplier_when_headshot":{"type":"string","format":"string"},"description":{"type":"string","format":"string"}}},"ResistType":{"type":"object","properties":{"resist_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"ResourceType":{"type":"object","properties":{"resource_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"Reward":{"type":"object","properties":{"reward_id":{"type":"string","format":"id"},"reward_type_id":{"type":"string","format":"id"},"count_min":{"type":"string","format":"integer"},"count_max":{"type":"string","format":"integer"},"param1":{"type":"string","format":"string"}}},"RewardGroupToReward":{"type":"object","properties":{"reward_group_id":{"type":"string","format":"id"},"reward_id":{"type":"string","format":"id"}}},"RewardSetToRewardGroup":{"type":"object","properties":{"reward_set_id":{"type":"string","format":"id"},"reward_group_id":{"type":"string","format":"id"}}},"RewardType":{"type":"object","properties":{"reward_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"count_min":{"type":"string","format":"integer"},"param1":{"type":"string","format":"string"},"param2":{"type":"string","format":"string"},"param3":{"type":"string","format":"string"},"param4":{"type":"string","format":"string"}}},"SingleCharacterById":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"first":{"type":"string","format":"string"},"first_lower":{"type":"string","format":"string"}}},"faction_id":{"type":"string","format":"id"},"head_id":{"type":"string","format":"id"},"title_id":{"type":"string","format":"id"},"times":{"type":"object","properties":{"creation":{"type":"string","format":"string"},"creation_date":{"type":"string","format":"date"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"},"last_login":{"type":"string","format":"string"},"last_login_date":{"type":"string","format":"date"},"login_count":{"type":"string","format":"integer"},"minutes_played":{"type":"string","format":"integer"}}},"certs":{"type":"object","properties":{"earned_points":{"type":"string","format":"string"},"gifted_points":{"type":"string","format":"string"},"spent_points":{"type":"string","format":"string"},"available_points":{"type":"string","format":"string"},"percent_to_next":{"type":"string","format":"number"}}},"battle_rank":{"type":"object","properties":{"percent_to_next":{"type":"string","format":"number"},"value":{"type":"string","format":"string"}}},"profile_id":{"type":"string","format":"id"},"daily_ribbon":{"type":"object","properties":{"count":{"type":"string","format":"integer"},"time":{"type":"string","format":"epoch"},"date":{"type":"string","format":"date"}}},"prestige_level":{"type":"string","format":"string"},"currency":{"type":"object","properties":{"currency_id":{"type":"string","format":"id"},"currency_name":{"type":"string","format":"string"},"quantity":{"type":"string","format":"string"},"prestige_currency":{"type":"string","format":"string"}}},"stats":{"type":"object","properties":{"stat_history":{"type":"object","properties":{"deaths":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"kills":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"score":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"time":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"facility_capture":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"facility_defend":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"battle_rank":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"certs":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"medals":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"ribbons":{"type":"object","properties":{"all_time":{"type":"string","format":"string"},"one_life_max":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}}}},"stat":{"type":"array","items":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"profile_id":{"type":"string","format":"id"},"value_forever":{"type":"string","format":"string"},"value_monthly":{"type":"string","format":"string"},"value_weekly":{"type":"string","format":"string"},"value_daily":{"type":"string","format":"string"},"value_one_life_max":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}}},"stat_by_faction":{"type":"array","items":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"profile_id":{"type":"string","format":"id"},"value_forever_vs":{"type":"string","format":"string"},"value_forever_nc":{"type":"string","format":"string"},"value_forever_tr":{"type":"string","format":"string"},"value_monthly_vs":{"type":"string","format":"string"},"value_monthly_nc":{"type":"string","format":"string"},"value_monthly_tr":{"type":"string","format":"string"},"value_weekly_vs":{"type":"string","format":"string"},"value_weekly_nc":{"type":"string","format":"string"},"value_weekly_tr":{"type":"string","format":"string"},"value_daily_vs":{"type":"string","format":"string"},"value_daily_nc":{"type":"string","format":"string"},"value_daily_tr":{"type":"string","format":"string"},"value_one_life_max_vs":{"type":"string","format":"string"},"value_one_life_max_nc":{"type":"string","format":"string"},"value_one_life_max_tr":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}}},"weapon_stat":{"type":"array","items":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"item_id":{"type":"string","format":"id"},"vehicle_id":{"type":"string","format":"id"},"value":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}}},"weapon_stat_by_faction":{"type":"array","items":{"type":"object","properties":{"character_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"item_id":{"type":"string","format":"id"},"vehicle_id":{"type":"string","format":"id"},"value_vs":{"type":"string","format":"string"},"value_nc":{"type":"string","format":"string"},"value_tr":{"type":"string","format":"string"},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}}}}},"items":{"type":"array","items":{"type":"object","properties":{"item_id":{"type":"string","format":"id"}}}},"sub_timing":{"type":"object","properties":{}}}},"Skill":{"type":"object","properties":{"skill_id":{"type":"string","format":"id"},"skill_line_id":{"type":"string","format":"id"},"skill_line_index":{"type":"string","format":"string"},"skill_points":{"type":"string","format":"string"},"grant_item_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"SkillCategory":{"type":"object","properties":{"skill_category_id":{"type":"string","format":"id"},"skill_set_id":{"type":"string","format":"id"},"skill_set_index":{"type":"string","format":"string"},"skill_points":{"type":"string","format":"string"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"SkillLine":{"type":"object","properties":{"skill_line_id":{"type":"string","format":"id"},"skill_points":{"type":"string","format":"string"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"SkillSet":{"type":"object","properties":{"skill_set_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"TargetType":{"type":"object","properties":{"target_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"}}},"Title":{"type":"object","properties":{"title_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}}}},"Vehicle":{"type":"object","properties":{"vehicle_id":{"type":"string","format":"id"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"type_id":{"type":"string","format":"id"},"type_name":{"type":"string","format":"string"},"cost_resource_id":{"type":"string","format":"id"},"image_set_id":{"type":"string","format":"id"},"image_id":{"type":"string","format":"id"},"image_path":{"type":"string","format":"string"}}},"VehicleAttachment":{"type":"object","properties":{"item_id":{"type":"string","format":"id"},"vehicle_id":{"type":"string","format":"id"},"faction_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"slot_id":{"type":"string","format":"id"}}},"VehicleFaction":{"type":"object","properties":{"vehicle_id":{"type":"string","format":"id"},"faction_id":{"type":"string","format":"id"}}},"VehicleSkillSet":{"type":"object","properties":{"vehicle_id":{"type":"string","format":"id"},"skill_set_id":{"type":"string","format":"id"},"faction_id":{"type":"string","format":"id"},"display_index":{"type":"string","format":"string"}}},"Weapon":{"type":"object","properties":{"weapon_id":{"type":"string","format":"id"},"turn_modifier":{"type":"string","format":"string"},"move_modifier":{"type":"string","format":"string"},"sprint_recovery_ms":{"type":"string","format":"string"},"equip_ms":{"type":"string","format":"string"},"unequip_ms":{"type":"string","format":"string"},"to_iron_sights_ms":{"type":"string","format":"string"},"from_iron_sights_ms":{"type":"string","format":"string"},"melee_detect_width":{"type":"string","format":"string"},"melee_detect_height":{"type":"string","format":"string"}}},"WeaponAmmoSlot":{"type":"object","properties":{"weapon_id":{"type":"string","format":"id"},"weapon_slot_index":{"type":"string","format":"string"},"clip_size":{"type":"string","format":"string"},"capacity":{"type":"string","format":"string"}}},"WeaponDatasheet":{"type":"object","properties":{"item_id":{"type":"string","format":"id"},"damage":{"type":"string","format":"string"},"damage_min":{"type":"string","format":"string"},"damage_max":{"type":"string","format":"string"},"fire_cone":{"type":"string","format":"string"},"fire_cone_min":{"type":"string","format":"string"},"fire_cone_max":{"type":"string","format":"string"},"fire_rate_ms":{"type":"string","format":"string"},"fire_rate_ms_min":{"type":"string","format":"string"},"fire_rate_mx_max":{"type":"string","format":"string"},"reload_ms":{"type":"string","format":"string"},"reload_ms_min":{"type":"string","format":"string"},"reload_ms_max":{"type":"string","format":"string"},"clip_size":{"type":"string","format":"string"},"capacity":{"type":"string","format":"string"},"range":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"show_clip_size":{"type":"string","format":"string"},"show_fire_modes":{"type":"string","format":"string"},"show_range":{"type":"string","format":"string"}}},"WeaponToAttachment":{"type":"object","properties":{"weapon_group_id":{"type":"string","format":"id"},"attachment_id":{"type":"string","format":"id"},"item_id":{"type":"string","format":"id"}}},"WeaponToFireGroup":{"type":"object","properties":{"weapon_id":{"type":"string","format":"id"},"fire_group_id":{"type":"string","format":"id"},"fire_group_index":{"type":"string","format":"string"}}},"World":{"type":"object","properties":{"world_id":{"type":"string","format":"id"},"state":{"type":"string","format":"string"},"name":{"type":"object","properties":{"en":{"type":"string","format":"string"},"de":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}}}},"WorldEvent":{"type":"object","properties":{"facility_id":{"type":"string","format":"id"},"faction_old":{"type":"string","format":"string"},"faction_new":{"type":"string","format":"string"},"duration_held":{"type":"string","format":"string"},"objective_id":{"type":"string","format":"id"},"timestamp":{"type":"string","format":"string"},"zone_id":{"type":"string","format":"id"},"world_id":{"type":"string","format":"id"},"event_type":{"type":"string","format":"string"},"table_type":{"type":"string","format":"string"},"outfit_id":{"type":"string","format":"id"}}},"WorldStatHistory":{"type":"object","properties":{"world_id":{"type":"string","format":"id"},"stat_name":{"type":"string","format":"string"},"type":{"type":"string","format":"string"},"tracker_name":{"type":"string","format":"string"},"faction":{"type":"string","format":"string"},"all_time":{"type":"string","format":"string"},"day":{"type":"object","properties":{"d01":{"type":"string","format":"string"},"d02":{"type":"string","format":"string"},"d03":{"type":"string","format":"string"},"d04":{"type":"string","format":"string"},"d05":{"type":"string","format":"string"},"d06":{"type":"string","format":"string"},"d07":{"type":"string","format":"string"},"d08":{"type":"string","format":"string"},"d09":{"type":"string","format":"string"},"d10":{"type":"string","format":"string"},"d11":{"type":"string","format":"string"},"d12":{"type":"string","format":"string"},"d13":{"type":"string","format":"string"},"d14":{"type":"string","format":"string"},"d15":{"type":"string","format":"string"},"d16":{"type":"string","format":"string"},"d17":{"type":"string","format":"string"},"d18":{"type":"string","format":"string"},"d19":{"type":"string","format":"string"},"d20":{"type":"string","format":"string"},"d21":{"type":"string","format":"string"},"d22":{"type":"string","format":"string"},"d23":{"type":"string","format":"string"},"d24":{"type":"string","format":"string"},"d25":{"type":"string","format":"string"},"d26":{"type":"string","format":"string"},"d27":{"type":"string","format":"string"},"d28":{"type":"string","format":"string"},"d29":{"type":"string","format":"string"},"d30":{"type":"string","format":"string"},"d31":{"type":"string","format":"string"}}},"month":{"type":"object","properties":{"m01":{"type":"string","format":"string"},"m02":{"type":"string","format":"string"},"m03":{"type":"string","format":"string"},"m04":{"type":"string","format":"string"},"m05":{"type":"string","format":"string"},"m06":{"type":"string","format":"string"},"m07":{"type":"string","format":"string"},"m08":{"type":"string","format":"string"},"m09":{"type":"string","format":"string"},"m10":{"type":"string","format":"string"},"m11":{"type":"string","format":"string"},"m12":{"type":"string","format":"string"}}},"week":{"type":"object","properties":{"w01":{"type":"string","format":"string"},"w02":{"type":"string","format":"string"},"w03":{"type":"string","format":"string"},"w04":{"type":"string","format":"string"},"w05":{"type":"string","format":"string"},"w06":{"type":"string","format":"string"},"w07":{"type":"string","format":"string"},"w08":{"type":"string","format":"string"},"w09":{"type":"string","format":"string"},"w10":{"type":"string","format":"string"},"w11":{"type":"string","format":"string"},"w12":{"type":"string","format":"string"},"w13":{"type":"string","format":"string"}}},"last_save":{"type":"string","format":"string"},"last_save_date":{"type":"string","format":"date"}}},"Zone":{"type":"object","properties":{"zone_id":{"type":"string","format":"id"},"code":{"type":"string","format":"string"},"hex_size":{"type":"string","format":"string"},"name":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"description":{"type":"object","properties":{"de":{"type":"string","format":"string"},"en":{"type":"string","format":"string"},"es":{"type":"string","format":"string"},"fr":{"type":"string","format":"string"},"it":{"type":"string","format":"string"},"tr":{"type":"string","format":"string"}}},"geometry_id":{"type":"string","format":"id"},"dynamic":{"type":"string","format":"string"}}},"ZoneEffect":{"type":"object","properties":{"zone_effect_id":{"type":"string","format":"id"},"zone_effect_type_id":{"type":"string","format":"id"},"ability_id":{"type":"string","format":"id"},"param1":{"type":"string","format":"string"},"param2":{"type":"string","format":"string"},"param3":{"type":"string","format":"string"},"param4":{"type":"string","format":"string"},"param5":{"type":"string","format":"string"},"param6":{"type":"string","format":"string"}}},"ZoneEffectType":{"type":"object","properties":{"zone_effect_type_id":{"type":"string","format":"id"},"description":{"type":"string","format":"string"},"param1":{"type":"string","format":"string"},"param2":{"type":"string","format":"string"},"param3":{"type":"string","format":"string"},"param4":{"type":"string","format":"string"},"param5":{"type":"string","format":"string"},"param6":{"type":"string","format":"string"}}}},"parameters":{"serviceId":{"name":"serviceId","in":"path","schema":{"type":"string"},"required":true,"example":"s:example"},"environment":{"name":"environment","in":"path","schema":{"type":"string","enum":["ps2:v2","ps2ps4eu:v2","ps2ps4us:v2"]},"required":true}}},"paths":{"/get/{environment}/":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["index"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"datatype_list":{"type":"array","items":{"type":"object","properties":{"count":{"oneOf":[{"type":"integer"},{"type":"string","enum":["dynamic","?"]}]},"hidden":{"oneOf":[{"type":"string","enum":["false"]},{"type":"boolean","enum":[false]}]},"name":{"type":"string"},"resolve_list":{"type":"array","items":{"type":"string"}}}}},"returned":{"type":"integer"}}}}}}}}},"/get/{environment}/ability":{"parameters":[{"name":"ability_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"ability_type_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"distance_max","in":"query","schema":{"type":"string","format":"string"}},{"name":"expire_msec","in":"query","schema":{"type":"string","format":"string"}},{"name":"first_use_delay_msec","in":"query","schema":{"type":"string","format":"string"}},{"name":"flag_toggle","in":"query","schema":{"type":"string","format":"string"}},{"name":"next_use_delay_msec","in":"query","schema":{"type":"string","format":"string"}},{"name":"param1","in":"query","schema":{"type":"string","format":"string"}},{"name":"param10","in":"query","schema":{"type":"string","format":"string"}},{"name":"param11","in":"query","schema":{"type":"string","format":"string"}},{"name":"param12","in":"query","schema":{"type":"string","format":"string"}},{"name":"param13","in":"query","schema":{"type":"string","format":"string"}},{"name":"param14","in":"query","schema":{"type":"string","format":"string"}},{"name":"param2","in":"query","schema":{"type":"string","format":"string"}},{"name":"param3","in":"query","schema":{"type":"string","format":"string"}},{"name":"param4","in":"query","schema":{"type":"string","format":"string"}},{"name":"param5","in":"query","schema":{"type":"string","format":"string"}},{"name":"param6","in":"query","schema":{"type":"string","format":"string"}},{"name":"param7","in":"query","schema":{"type":"string","format":"string"}},{"name":"param8","in":"query","schema":{"type":"string","format":"string"}},{"name":"param9","in":"query","schema":{"type":"string","format":"string"}},{"name":"radius_max","in":"query","schema":{"type":"string","format":"string"}},{"name":"resource_cost_per_msec","in":"query","schema":{"type":"string","format":"string"}},{"name":"resource_first_cost","in":"query","schema":{"type":"string","format":"string"}},{"name":"resource_type_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"reuse_delay_msec","in":"query","schema":{"type":"string","format":"string"}},{"name":"string1","in":"query","schema":{"type":"string","format":"string"}},{"name":"string2","in":"query","schema":{"type":"string","format":"string"}},{"name":"string3","in":"query","schema":{"type":"string","format":"string"}},{"name":"string4","in":"query","schema":{"type":"string","format":"string"}},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"ability_list":{"type":"array","items":{"$ref":"#/components/schemas/Ability"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/count/{environment}/ability":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/get/{environment}/ability_type":{"parameters":[{"name":"ability_type_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"description","in":"query","schema":{"type":"string","format":"string"}},{"name":"param1","in":"query","schema":{"type":"string","format":"string"}},{"name":"param10","in":"query","schema":{"type":"string","format":"string"}},{"name":"param11","in":"query","schema":{"type":"string","format":"string"}},{"name":"param12","in":"query","schema":{"type":"string","format":"string"}},{"name":"param13","in":"query","schema":{"type":"string","format":"string"}},{"name":"param14","in":"query","schema":{"type":"string","format":"string"}},{"name":"param2","in":"query","schema":{"type":"string","format":"string"}},{"name":"param3","in":"query","schema":{"type":"string","format":"string"}},{"name":"param4","in":"query","schema":{"type":"string","format":"string"}},{"name":"param5","in":"query","schema":{"type":"string","format":"string"}},{"name":"param6","in":"query","schema":{"type":"string","format":"string"}},{"name":"param7","in":"query","schema":{"type":"string","format":"string"}},{"name":"param8","in":"query","schema":{"type":"string","format":"string"}},{"name":"param9","in":"query","schema":{"type":"string","format":"string"}},{"name":"string1","in":"query","schema":{"type":"string","format":"string"}},{"name":"string2","in":"query","schema":{"type":"string","format":"string"}},{"name":"string3","in":"query","schema":{"type":"string","format":"string"}},{"name":"string4","in":"query","schema":{"type":"string","format":"string"}},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"ability_type_list":{"type":"array","items":{"$ref":"#/components/schemas/AbilityType"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/count/{environment}/ability_type":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/get/{environment}/achievement":{"parameters":[{"name":"achievement_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"description","in":"query","schema":{"type":"string","format":"string"}},{"name":"description.de","in":"query","schema":{"type":"string","format":"string"}},{"name":"description.en","in":"query","schema":{"type":"string","format":"string"}},{"name":"description.es","in":"query","schema":{"type":"string","format":"string"}},{"name":"description.fr","in":"query","schema":{"type":"string","format":"string"}},{"name":"description.it","in":"query","schema":{"type":"string","format":"string"}},{"name":"description.tr","in":"query","schema":{"type":"string","format":"string"}},{"name":"image_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"image_path","in":"query","schema":{"type":"string","format":"string"}},{"name":"image_set_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"item_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"name","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.de","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.en","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.es","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.fr","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.it","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.tr","in":"query","schema":{"type":"string","format":"string"}},{"name":"objective_group_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"repeatable","in":"query","schema":{"type":"string","format":"string"}},{"name":"reward_id","in":"query","schema":{"type":"string","format":"id"}},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"achievement_list":{"type":"array","items":{"$ref":"#/components/schemas/Achievement"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/count/{environment}/achievement":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/get/{environment}/armor_facing":{"parameters":[{"name":"armor_facing_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"description","in":"query","schema":{"type":"string","format":"string"}},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"armor_facing_list":{"type":"array","items":{"$ref":"#/components/schemas/ArmorFacing"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/count/{environment}/armor_facing":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/get/{environment}/armor_info":{"parameters":[{"name":"armor_amount","in":"query","schema":{"type":"string","format":"string"}},{"name":"armor_facing_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"armor_info_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"armor_percent","in":"query","schema":{"type":"string","format":"number"}},{"name":"description","in":"query","schema":{"type":"string","format":"string"}},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"armor_info_list":{"type":"array","items":{"$ref":"#/components/schemas/ArmorInfo"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/count/{environment}/armor_info":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/get/{environment}/character":{"parameters":[{"name":"battle_rank","in":"query","schema":{"type":"string","format":"string"}},{"name":"battle_rank.percent_to_next","in":"query","schema":{"type":"string","format":"number"}},{"name":"battle_rank.value","in":"query","schema":{"type":"string","format":"string"}},{"name":"certs","in":"query","schema":{"type":"string","format":"string"}},{"name":"certs.available_points","in":"query","schema":{"type":"string","format":"string"}},{"name":"certs.earned_points","in":"query","schema":{"type":"string","format":"string"}},{"name":"certs.gifted_points","in":"query","schema":{"type":"string","format":"string"}},{"name":"certs.percent_to_next","in":"query","schema":{"type":"string","format":"number"}},{"name":"certs.spent_points","in":"query","schema":{"type":"string","format":"string"}},{"name":"character_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"daily_ribbon","in":"query","schema":{"type":"string","format":"string"}},{"name":"daily_ribbon.count","in":"query","schema":{"type":"string","format":"integer"}},{"name":"daily_ribbon.date","in":"query","schema":{"type":"string","format":"string"}},{"name":"daily_ribbon.time","in":"query","schema":{"type":"string","format":"string"}},{"name":"faction_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"head_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"name","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.first","in":"query","schema":{"type":"string","format":"string"}},{"name":"name.first_lower","in":"query","schema":{"type":"string","format":"string"}},{"name":"prestige_level","in":"query","schema":{"type":"string","format":"string"}},{"name":"profile_id","in":"query","schema":{"type":"string","format":"id"}},{"name":"times","in":"query","schema":{"type":"string","format":"string"}},{"name":"times.creation","in":"query","schema":{"type":"string","format":"string"}},{"name":"times.creation_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"times.last_login","in":"query","schema":{"type":"string","format":"string"}},{"name":"times.last_login_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"times.last_save","in":"query","schema":{"type":"string","format":"string"}},{"name":"times.last_save_date","in":"query","schema":{"type":"string","format":"date"}},{"name":"times.login_count","in":"query","schema":{"type":"string","format":"integer"}},{"name":"times.minutes_played","in":"query","schema":{"type":"string","format":"integer"}},{"name":"title_id","in":"query","schema":{"type":"string","format":"id"}},{"$ref":"#/components/parameters/environment"}],"get":{"tags":["get"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"character_list":{"type":"array","items":{"$ref":"#/components/schemas/Character"}},"returned":{"type":"integer"}}},{"$ref":"#/components/schemas/CensusError"}]}}}}}}},"/count/{environment}/character":{"parameters":[{"$ref":"#/components/parameters/environment"}],"get":{"tags":["count"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Count"}}}}}}},"/get/{environment}/character_name":{"parameters":
[...]
